<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <!-- This is from Nathan's attempt to get Google place auto-complete to work -->
  <!-- <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> -->

  <title >Sharelift</title>
</head>

<body ng-controller="IndexCtrl">
  <!-- <div id="inner"> -->

  <!-- index.html is the main application layout -->
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!--<ion-nav-buttons side="left" >
        <button class="button button-clear button-stable" ng-click="goToProfile()" >
          <i class="icon ion-person"></i>
          <img src="img/head_profile.png" style="width: 2em; height: 2em;"/>
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right" >
        <button ng-if="$root.navBarService.currentSlide == 1" class="button button-clear button-stable" ng-click="goToNotifs()" >
          <i class=" notif-icon" ng-class="{ 'unread-true' : unreadNotifs, 'ion-ios-bell-outline': !unreadNotifs, 'ion-ios-bell' : unreadNotifs }"></i><span ng-show="unreadNotifs" class="notif-count " ng-cloak>{{unreadNotifTotal}}</span>
          <i class="ion-navicon-round" style="font-size: 30px"></i>
        </button>
      </ion-nav-buttons>-->
    </ion-nav-bar>

    <ion-nav-view>
    </ion-nav-view>

    <script type="text/javascript" src="assets/js/please-wait.min.js"></script>
    <script type="text/javascript">
      window.loading_screen = window.pleaseWait({
        logo: "img/sharelift_elementsV1_3.svg",
        backgroundColor: '#fff',
        // loadingHtml: ""
      });
    </script>

    <script id="error-list.html" type="text/ng-template">
      <div class="error" ng-message="required">
        <i class="ion-information-circled"></i>
        This field is required!
      </div>
      <div class="error" ng-message="minlength">
        <i class="ion-information-circled"></i>
        Minimum length of this field is 5 characters!
      </div>
      <div class="error" ng-message="maxlength">
        <i class="ion-information-circled"></i>
        Maximum length of this field is 20 characters!
      </div>
      <div class="error" ng-message="max">
        <i class="ion-information-circled"></i>
        You can only have up to 7 rides bruh!
      </div>

    </script>

  <!-- </div> -->
</body>
