@import "variables";
.title{
  text-align: center !important;
}
.content-background{
  background-color: $sharelift-light-blue;
}

.lift-list{
  padding-top: 2% !important; //keep this. it looks better
  padding-bottom: 2% !important; //keep this. it looks better
  min-height:140px !important;
  background-color: transparent !important;
  border-width: 0px !important;
  img{
      max-width: 20vw;
      max-height: 20vw;
  }
  .row, .col{
    padding:0px;
  }
  .item-content{
    padding-top:10px;
    padding-bottom:10px;
    min-height:80px !important;
  }
  .item-profile-img{
    width: 25%;
    height: width;
  }
  .list-drivername{
    font-size: 16px;
    font-weight: 800;
  }
  .list-cartype{
    font-size: 10px;
    color: $sharelift-red;
    font-weight: 200;
  }
  .list-item-imgdiv{
    text-align: right;
    width: 100%;
  }
  .list-ratings{
    // font-style:italic !important;
    font-size:12px;
    line-height: 20px;
  }
  .list-vehicle{
    font-size:10px;
  }
  .list-ratings, .list-vehicle{
    color: $sharelift-red;
    font-weight:lighter;
    padding-left: 5px;
  }
  .list-confirmation-status{
    font-size:8px !important;
  }
  .list-confirmation-status.list-confirmation-pending{
    color:$sharelift-red;
  }
  .list-confirmation{
    // border: 1px solid $sharelift-red;
  }
  .list-item-rightpanel{
    width: 34%;
    margin-left: 1%;
    padding: 10px;
    background-color: white;
  }
  .list-item-leftpanel{
    width: 65%;
    padding: 10px;
    background-color: white;
  }

  .drive-item-right {
    width: 60%;
    margin-left: 1%;
    padding: 6px;
    background-color: white;
  }

  .drive-item-left {
    width: 40%;
    padding: 6px;
    background-color: white;
  }
;

  h1{
    font-size:15px !important;
    font-weight:normal !important;
    margin:0px !important;
    padding:0px 0px 5px 0px;
    font-family: 'Montserrat', sans-serif;
  }
  hr{
    margin:2px !important;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #ccc; /* old IE */
    background-color: #ccc; /* Modern Browsers */
    width:100%;
  }
  .item-tag{
    font-size: 10px !important;
    color: grey !important;
  }
  .lift-time-info{
    padding:0px 10px;
    border-left:1px solid #ccc;
    .col, .row{
      padding:0px;
      margin:0px;
    }
    .pickup-time{
      font-size:20px;
      font-weight:normal;
      float:right;
      font-family: 'Montserrat', sans-serif;
    }
    .return-time{
      font-size:15px;
      font-weight:normal;
      float:right;
      font-family: 'Montserrat', sans-serif;
    }
    .destination{
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
  .status-button{
    height: 25px !important;
    line-height: 25px !important;
    min-height: 30px;
    padding: 0px !important;
  }
  .request-button {
    border-color: #ed6a5b;;
    color: #ed6a5b;
    font-weight: 800;
    margin-top: 0px !important;
  }
  .full-button {
    background-color: #ed6a5b;
    color: white;
    font-weight: 800;
    margin-top: 0px !important;
  }
  .confirm-button {
    background-color: #ed6a5b;
    color: white;
    font-weight: 800;
    margin-top: 0px !important;
  }


  .route-overview{
    font-size: 10px;
  }

  .pending-request{
    color: $sharelift-red;
    text-align: left;
    font-size: 13px;
    margin-top: -1.5em;
  }
}

.filter-icon{
  font-size:22px;
  padding-right:8px;
  font-family: 'Montserrat', sans-serif;
}

.filter-display-text{
  vertical-align:middle;
  padding-bottom:5px;
  font-family: 'Montserrat', sans-serif;
}
.filter-display-text-right{
  vertical-align:middle;
  padding-bottom:5px;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  color: $sharelift-red;
}

.direction-toggle{
  margin-bottom: 0px;
  text-align: center;
}

.date-selection{
  text-align: center;
}

.destination-selection{
  margin-bottom: 0px;
  text-align: center;
}

.pannel-padding{
  padding: 10px;
}
.pannel-part{
  background-color: white;
  width: 100%;
  padding: 10px 10px 0 0;
}
.date-borderline{
  border: solid 1px $sharelift-light-blue;
  border-radius: 5px;
  padding: 2px;
}
.icon-pannel{
  text-align: center;
  width: 15%;
}
.control-pannel{
  width: 70%;
}
.input-borderline{
  background-color: transparent;
  border: solid 1px #b2b2b2;
}
.input-fontsize{
  font-size: 20px;
}
.search-pannel{
  line-height: 25px;
  min-height: 20px !important;
}
.icon-pannel-right{
  width: 15%;
  margin: auto;
  text-align: center;
}


.your-lift{
  background-color:$sharelift-red;
}

#no-lifts-message {
  vertical-align:middle;
  text-align: center;
  font-style: normal;
  font-size: 15px;
}
