@import "variables";

.notif-count{
  display:block;

  font-size:15px;
  margin-top:-35px;
  margin-left:2px !important;
  color:white;
}

.notif-icon{
  display:block;
  font-size: 35px;
  margin-top:-2px !important;
  color:$sharelift-gray !important;
}
.unread-true{
  color:$sharelift-red !important;
}
.header-item.title{
  right:0px !important;
  left:0px !important;
}
.back-text{
  margin-top:-5px;
  margin-left:-12px;
}
.back-button > .back-text > .previous-title {
  display:none;
}