@import "variables";
.lift-view, .profile{
  // Sets up the containers for the screen:
  .lift-view-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .map-row{
    flex: 50;
  }
  .trip-details-row{
    flex: 20;
    color: $sharelift-red;  //sets everything in this section to red
  }
  .driver-details-row{
    flex: 20;
    color: $sharelift-red; //sets everything in this section to red
  }
  .buttons-row{
    flex: 10;
  }

  // -- End containers

  h2{
    font-family: 'Montserrat', sans-serif;
    //font-family: 'Arvo', serif;
    padding:20px 0px;
    font-size:30px;
    font-weight:lighter;
  }
  .lift-icon{
    font-size:30px;

  }
  .lift-view-name{
    font-size:30px;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
  }
  .lift-view-blurb{
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
  }
  .lift-view-profile-img{
    max-height:90px;
    max-width:90px;
    border-radius:50%;
  }
  .rating-value{
    font-style:italic;
    font-family: 'Montserrat', sans-serif;
  }

  hr{
    margin:5px 10px !important;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #ccc; /* old IE */
    background-color: #ccc; /* Modern Browsers */
  }
  .open-seat-profile-img{
    opacity: 0.4;
  }

  .lift-view-vehicle{
    text-align: center;
    align-items: center;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
    color: $sharelift-red;
  }

  //Not currently being used much
  .lift-view-vehicle-blurb{
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
  }
  .lift-view-driver{
    //text-align: center;
    //align-items: center;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
    color: $sharelift-red;
  }

//Not currently being used anywhere
  .lift-view-vehicle-img{
    max-width:150px;
  }

  .lift-view-header{
    font-family: 'Arvo', sans-serif;
    font-size:25px;
    color: $sharelift-red;
    padding-left: .5em;
  }

  .open-seat-name{
    color:#b5b5b5;
    font-family: 'Montserrat', sans-serif;
  }
  .confirmed-rider-name{
    font-family: 'Montserrat', sans-serif;
  }
  .confirm-deny-icons{
    font-size:40px;
    font-family: 'Montserrat', sans-serif;
  }
  .call-rider{
    float:right;
  }
  .rider-phone-number{
    color:$sharelift-gray;
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
  }
  .potential-rider-name{
    font-size:20px;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
  }
  .rider-address{
    font-size:10px;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
  }
  .potential-rider-profile-img,.confirmed-rider-profile-img, .open-seat-profile-img{
    border-radius:50%;
    max-width:60px;
    max-height:60px;
  }
  .trip-details-level1 {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .trip-details-level2 {
    padding-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .confirmed-riders {
    padding-left: 20px;
  }
  .lift-request-card{
    padding: 0px;
  }
}

.alert-bar{
  align-items: center;
  background-color: $sharelift-dark-blue;
  color: white;
  text-align: center;


  .active-lift{

  }
  .confirmed-lift{
    //why aren't these working?
    background-color: $sharelift-light-blue;
    color: white;
  }
  .no-confirmed-passengers{
    background-color: white;
    color: black;
  }
}

.alert-bar-error {
  background-color: $sharelift-red;
  color: white;
  text-align: center;
}

.gm-style-iw > div{
    overflow:auto !important;
    max-width:600px;
    min-width:70px;
    min-height:20px;
    max-height:600px;
}

.gm-style-iw {
    overflow:auto !important;
    max-width:600px;
    min-width:70px;
    min-height:20px;
    max-height:600px;
}