@import "variables";

.notifications{
  .notification-item{

  }
  .notification-item-icon{
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    color: $sharelift-light-blue
  }
}

.unread{
  .notification-item-icon{
    color:$sharelift-dark-blue;
  }
}
.no-notifs{
  h2{
    font-size:30px;
    font-weight:lighter;
    padding-top:10px;
  }
}
