@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Arvo);
@import "variables";
.profile {
  .profile-input-text{
    color:#ccc;
    font-style:italic;
    font-family: 'Montserrat', sans-serif;
  }
  .list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
  }
  .list .item.item-accordion.ng-hide {
    line-height: 0px;
  }
  .list .item.item-accordion.ng-hide-add,
  .list .item.item-accordion.ng-hide-remove {
    display: block !important;
  }
  .offer-lift{
    background-color:$sharelift-dark-blue;
    color:white;
    border-bottom-color:#076D85;
  }
  .profile-picture {
    margin-top:10px;
    max-width:150px;
    max-height:150px;
    border-radius:50%;

    img {
      display: block;
      max-width: 50px;
      max-height: 50px;
      min-width: 50px;
      min-height: 50px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .upload-placehoder {
      width: 50px;
      height: 50px;
      padding: 5px;
      border: 1px solid #808080;
      border-radius: 50%;
      line-height: 18px;
      font-size: 12px;
      font-family: 'Montserrat', sans-serif;
    }
  }

  hr{
    margin:5px 10px !important;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #ccc; /* old IE */
    background-color: #ccc; /* Modern Browsers */
  }
  .profile-rating-score{
    font-style:italic;
    font-family: 'Montserrat', sans-serif;
  }
  .profile-rating-categoy{
    width:40%;
  }

  .instructions {
    min-height: 60px;
    padding: 10px 20px 20px 90px;
    font-size: 14px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
  }

  .profile-name {
    h2{
      font-family: 'Montserrat', sans-serif;
      //font-family: 'Arvo', serif;
      padding:20px 0px;
      font-size:30px;
      font-weight:lighter;
      font-family: 'Montserrat', sans-serif;
    }
  }
  .profile-phone-icon{
    font-size:28px;
    padding:5px;
  }
  .item-input{
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;

  }
  .edit-button{
    color: $sharelift-dark-blue;
  }
}

//.item .item-input ::-webkit-input-placeholder {
//  color: $sharelift-dark-blue;
//}
//
//.item .item-input ::-moz-placeholder {
//  color: $sharelift-dark-blue;
//}