<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="closeAddBankModal()">Cancel</button>
    <h1 class = "title">Add Bank</h1>
    <button class="button button-primary" ng-click="addBank()">Save</button>
  </ion-header-bar>
  <ion-content class="login padding">


    <!-- UI for connecting a bank goes here -->


  </ion-content>
</ion-modal-view>
