<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="closeAddCardModal()">Cancel</button>
    <h1 class = "title">Add Card</h1>
    <button class="button button-primary" ng-click="addCard(addCardForm)">Save</button>
  </ion-header-bar>
  <ion-content class="login padding">

      <form name="addCardForm" novalidate="" ng-submit="addCard(addCardForm)">


            <div class="row">
                <div class="col"><label for="">Credit Card Number:
                    <input type="text" placeholder="Credit Card Number" id="credit_card_number" style="border: 1px solid #b49b9b;">
                    </label></div>
            </div>
            <div class="row">
                <div class="col"><label>Cvv: <input type="text" placeholder="cvv" id="cvv_number" style="border: 1px solid #b49b9b;"></label></div>
            </div>
            <div class="row">
                <div class="col"><label for="">Exp Month: <input type="text" placeholder="Exp Month" id="month_expire" style="border: 1px solid #b49b9b;"></label></div>
                <div class="col"><label for="">Exp Year: <input type="text" placeholder="Exp Year" id="year_expire" style="border: 1px solid #b49b9b;"></label></div>
            </div>




            <!-- <button class="button button-block" ng-click="doCreateAccountAction()">Create Account</button> -->

            <div class="button-bar">
              <!-- <a class="button icon-left button-full ion-close-circled button-outline" ng-click="closePaymentModal()">Don't Pay</a> -->
              <button class="button icon-left ion-checkmark-circled button-full button-dark-blue" type="submit">Save Card</button>
            </div>



      </form>


  </ion-content>
</ion-modal-view>
