<ion-modal-view>
<ion-view view-title={{navTitle}}>
  <ion-content class="offer-lift">
    <form name="createRequestForm" novalidate="" ng-submit="createRequest(createRequestForm, createRequestModel)">

      <div class="list">


        <!-- <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label> -->

        <div class="item item-input">
          <div class="row">
            <div class="col col-75">
              <label class="item-input inner-input">
                <span class="input-label"><i class="offer-lift-icon ion-navigate"></i>Direction</span>
                <!-- <input type ="text" readonly ng-model="offerLiftModel.liftDirection"/> -->
                <p>{{createRequestModel.liftDirection}}</p>
                <!-- <input type ="text" class="seats-input-text" readonly ng-model="offerLiftModel.liftDirection"/> -->
              </label>
            </div>
            <div class="col-10">
              <div class="button button-clear" ng-click="toggleLiftDirection()"><i
                class="ion-arrow-swap offer-lift-icon"></i></div>
            </div>

          </div>
        </div>


        <!-- Anything with a class="item" attribute can go here, and will be listed -->


        <!-- <label class="item item-input" ng-class="{ 'has-errors' : offerLiftForm.username.$invalid, 'no-errors' : offerLiftForm.startEndLocation.$valid}">

          <span class="input-label"><i class="offer-lift-icon ion-ios-location"></i></span>
          <input type="text" placeholder= "Start Location (specific address)" name="startEndLocation" ng-model="offerLiftModel.startEndLocation" ng-minlength="5" ng-maxlength="40" required class="start-location-input">
        </label> -->

        <!-- Enter start location -->
        <!-- <label class="item" ng-class="{ 'has-errors' : offerLiftForm.username.$invalid, 'no-errors' : offerLiftForm.startEndLocation.$valid}">
          <span class="input-label"><i class="offer-lift-icon ion-ios-location"></i>Start location</span>
          <input type="text" placeholder= "123 W. Example Ave., Bozeman, MT 59715" name="startEndLocation" ng-model="offerLiftModel.startEndLocation" ng-minlength="5" ng-maxlength="40" required class="lift-input">
        </label> -->

        <div ng-hide="createRequestModel.liftDirection == 'fromDestination'">
          <label class="item"
                 ng-class="{ 'has-errors' : createRequestForm.username.$invalid, 'no-errors' : createRequestForm.startEndLocation.$valid}">
            <span class="input-label"><i class="offer-lift-icon ion-ios-location"></i>Start</span>

            <div class="item-input-wrapper">
              <ion-google-place placeholder="{{$root.currentUser.profile.settings.defaultPickupLocation.fullAddress || 'Enter Pickup Location'}}" ng-model="offerLiftAddress"
                                autocomplete-location-obj="autocompleteLocationToModel"></ion-google-place>
            </div>
          </label>

          <!-- Select destination -->
          <label class="item">
            <span class="input-label"><i class="offer-lift-icon ion-map"></i>End</span>

            <div class="lift-input">
              <select ng-model="createRequestModel.destinationId">
                <option value="" disabled selected>Select a resort</option>
                <!-- <option ng-value="1">#getyourassintonature photo</option> -->
                <option ng-value="2">Big Sky Resort</option>
                <option ng-value="3">Bridger Bowl</option>
                <option ng-value="4">Brighton Ski Resort</option>
                <!-- <option ng-value="5">Powder Mountain</option> -->
                <!-- <option ng-value="6">Snowbird</option> -->
              </select>
            </div>
          </label>

        </div>

        <div ng-show="createRequestModel.liftDirection == 'fromDestination'">
          <!-- Select destination -->
          <label class="item">
            <span class="input-label"><i class="offer-lift-icon ion-map"></i>Start</span>

            <div class="lift-input">
              <select ng-model="createRequestModel.destinationId">
                <option value="" disabled selected>Select a resort</option>
                <!-- <option ng-value="1">#getyourassintonature photo</option> -->
                <option ng-value="2">Big Sky Resort</option>
                <option ng-value="3">Bridger Bowl</option>
                <option ng-value="4">Brighton Ski Resort</option>
                <!-- <option ng-value="5">Powder Mountain</option> -->
                <!-- <option ng-value="6">Snowbird</option> -->
              </select>
            </div>
          </label>

          <label class="item"
                 ng-class="{ 'has-errors' : createRequestForm.username.$invalid, 'no-errors' : createRequestForm.startEndLocation.$valid}">
            <span class="input-label"><i class="offer-lift-icon ion-ios-location"></i>End</span>

            <div class="item-input-wrapper">
              <ion-google-place placeholder="{{$root.currentUser.profile.settings.defaultPickupLocation.fullAddress || 'Enter Drop-off Location'}}" ng-model="offerLiftAddress"
                                autocomplete-location-obj="autocompleteLocationToModel"></ion-google-place>
            </div>
          </label>

        </div>

        <hr>


        <!-- Select departure time -->
        <label class="item">
          <span class="input-label"><i class="offer-lift-icon ion-android-calendar"></i>Pickup Date & Time Availability</span>

          <div class="lift-input">

            <!-- Start Time -->
            <ion-datetime-picker am-pm ng-model="createRequestModel.startDepartureTime" only-valid="{'after': 'today', 'inclusive': true}" minute-step="15">
              <label>
                <span ng-show="!createRequestModel.startDepartureTime" class="hint-text">Tap to select start</span>
                {{createRequestModel.startDepartureTime| date: "EEEE, MMMM dd    h:mm a"}}
              </label>
            </ion-datetime-picker>
            to
          </div>

          <div class="lift-input">
            <!-- End Time -->
            <ion-datetime-picker am-pm ng-model="createRequestModel.endDepartureTime" only-valid="{'after': 'today', 'inclusive': true}" minute-step="15">
              <label>
                <span ng-show="!createRequestModel.endDepartureTime" class="hint-text">Tap to select end</span>
                {{createRequestModel.endDepartureTime| date: "EEEE, MMMM dd    h:mm a"}}
              </label>
            </ion-datetime-picker>
          </div>
        </label>

        <!-- Select return time -->


      </div>


      <!-- <div class="button-bar">
        <button class="button icon-left ion-checkmark-circled button-full button-dark-blue" type="submit">Post Lift</button>
      </div> -->

      <!--<button class="button button-block button-dark-blue" type="submit">-->
      <!--Post Lift-->
      <!--</button>-->


      <button class="button" type="submit" style="text-align: center; margin: 0 auto; background-color: white; width: 98%;
        border: 1px #ed6a5b solid; margin-left: 5px; margin-top: 1em;">
        <i class="ion-plus-round" style="display: inline; color: #ed6a5b;"></i>

        <h1 style="display: inline; color: #ed6a5b; padding-left: 10px; font-weight: 800;">request a ride</h1>

      </button>

    </form>

      <button class="button" ng-click="closeCreateRequestModal()" style="text-align: center; margin: 0 auto; background-color: white; width: 98%;
        border: 1px #ed6a5b solid; margin-left: 5px; margin-top: 1em;">
        <i class="ion-close-round" style="display: inline; color: #ed6a5b;"></i>

        <h1 style="display: inline; color: #ed6a5b; padding-left: 10px; font-weight: 800;">cancel</h1>

      </button>

  </ion-content>
</ion-view>
</ion-modal-view>
