<ion-view title="Driver Signup">
  <ion-content class="login padding">

    <!--<div class="item-text-wrap padding">-->
    <!--We need a little extra info if you want to be a driver:-->
    <!--</div>-->
    <a ng-click="takeVehiclePhoto()">
      <img class="vehicle-photo-cover" style="margin-left: auto; margin-right: auto; display: block; border-radius:10%;"
           width="150" height="100"
           ng-show="!$root.currentUser.profile.vehicle.vehiclePicture" ng-src="/vehicle.png" />
    </a>

    <a ng-click="takeVehiclePhoto()">
      <img class="vehicle-photo-cover" style="margin-left: auto; margin-right: auto; display: block; border-radius:10%"
           width="150" height="100"
           ng-show="$root.currentUser.profile.vehicle.vehiclePicture"
           ng-src="{{ $root.currentUser.profile.vehicle.vehiclePicture }}" />
    </a>

    <!--<div class="row edit-button">-->
    <!--<div class="col text-left">-->
    <!--<a ng-click="takeVehiclePhoto()">Upload Vehicle Photo </a>-->
    <!--<i class="ion-camera"></i>-->
    <!--</div>-->
    <!--</div>-->
    <br />

    <label class="item item-input" style="border: 1px solid #09a0c3;">
      <input type="text" ng-model="driverModel.make" placeholder="Make" style="color: #09a0c3;" />
    </label>
    <br />
    <label class="item item-input" style="border: 1px solid #09a0c3;">
      <input type="text" ng-model="driverModel.model" placeholder="Model" style="color: #09a0c3;" />
    </label>
    <br />
    <label class="item item-input" style="border: 1px solid #09a0c3;">
      <input type="text" ng-model="driverModel.year" placeholder="Year" style="color: #09a0c3;" />
    </label>
    <br />
    <!--<label class="item item-input">-->
    <!--<input type="number" ng-model="driverModel.seats" placeholder="Total # seats in the vehicle" style="color: #09a0c3;"/>-->
    <!--</label>-->
    <label class="item item-input" style="border: 1px solid #09a0c3;">
      <input type="number" ng-model="driverModel.mpg" placeholder="Avgerage MPG" style="color: #09a0c3;" />
    </label>

    <br />

    <p style="text-decoration: underline; color: #09a0c3; text-align: center;" ng-click="skipProfileSettings2()">
      skip</p>
    <br />

    <button class="button button-block button-dark-blue" ng-click="submit()" style="font-weight: 900">hit the slopes
    </button>

  </ion-content>
</ion-view>
