<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="closeEditBankModal()">Cancel</button>
    <h1 class = "title">Edit Bank</h1>
    <button class="button button-primary" ng-click="updateBankInfo()">Update</button>
  </ion-header-bar>
  <ion-content class="login padding">



  </ion-content>
</ion-modal-view>
