<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="closeEditCardModal()">Cancel</button>
    <h1 class = "title">Edit Card</h1>
    <button class="button button-primary" ng-click="updateCardInfo(editCardForm)">Update</button>
  </ion-header-bar>
  <ion-content class="login padding">

      <form name="addCardForm" novalidate="" ng-submit="addCard(addCardForm)">


            <div class="row">
                <div class="col"><label for="">Credit Card Number:
                    <input type="text" placeholder="Credit Card Number" ng-model="cardModel.number" style="border: 1px solid #b49b9b;">
                    </label></div>
            </div>
            <div class="row">
                <div class="col"><label>Cvv: <input type="text" placeholder="cvv" ng-model="cardModel.cvc" style="border: 1px solid #b49b9b;"></label></div>
            </div>
            <div class="row">
                <div class="col"><label for="">Exp Month: <input type="text" placeholder="Exp Month" ng-model="cardModel.exp_month" style="border: 1px solid #b49b9b;"></label></div>
                <div class="col"><label for="">Exp Year: <input type="text" placeholder="Exp Year" ng-model="cardModel.exp_year" style="border: 1px solid #b49b9b;"></label></div>
            </div>




            <!-- <button class="button button-block" ng-click="doCreateAccountAction()">Create Account</button> -->



      </form>


  </ion-content>
</ion-modal-view>
