<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="closeEditVehicleModal()">CANCEL</button>
    <h1 class = "title">Edit Vehicle Info</h1>
    <button class="button button-primary" ng-click="updateVehicleInfo()">DONE</button>
  </ion-header-bar>
  <ion-content class="login padding">

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">MAKE</span>
        <input type="text" placeholder="Ford" ng-model="vehicleModel.make">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Model</span>
        <input type="text" placeholder="Focus" ng-model="vehicleModel.model">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">YEAR</span>
        <input type="text" placeholder="2007" ng-model="vehicleModel.year">
      </label>


    </div>



  </ion-content>
</ion-modal-view>
