<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="closeEditProfileModal()">CANCEL</button>
    <h1 class = "title">Edit Profile</h1>
    <button class="button button-primary" ng-click="updateProfileInfo()">DONE</button>
  </ion-header-bar>
  <ion-content class="login padding">

    <div class="row" style="position:relative;">
      <i class="ion-camera" style="float: right; position: absolute; right: 1em; bottom: 1em; color: white;"> </i>
      <!-- <img class = "profile-picture" ng-src="{{ $root.currentUser.profile.profilePicture }}"> -->

      <img class="profile-photo-cover" width="75" height="75"
        ng-src="{{ profileModel.photo }}" ng-click="updatePhotoProfileModel()">

      <!-- src="https://pbs.twimg.com/profile_images/520253922884087809/Q3e0XjaK.png" -->
    </div>

    <div class="row edit-button">
      <div class="col text-left">
        <a ng-click="updatePhotoProfileModel()">edit</a>
        <i class="ion-camera"></i>
      </div>
    </div>


    <div class="list">
      <label class="edit-profile-label item item-input item-stacked-label ">
        <span class="input-label">FIRST NAME</span>
        <input type="text" placeholder="Aidan" ng-model="profileModel.firstName">
      </label>
      <label class="edit-profile-label item item-input item-stacked-label">
        <span class="input-label">LAST NAME</span>
        <input type="text" placeholder="Weltner" ng-model="profileModel.lastName">
      </label>
      <label class="edit-profile-label item item-input item-stacked-label">
        <span class="input-label">GENDER</span>
        <select ng-model="profileModel.gender">
          <!-- <option value="" disabled selected>Select a resort</option> -->
          <option ng-selected="profileModel.gender == 'male'" ng-value="'male'">male</option>
          <option ng-selected="profileModel.gender == 'female'" ng-value="'female'">female</option>
          <option ng-selected="profileModel.gender == 'other'" ng-value="'other'">other</option>
        </select>
        <!-- <input type="text" placeholder="tap to add" ng-model="profileModel.gender"> -->
      </label>
      <label class="edit-profile-label edit-profile-label item item-input item-stacked-label">
        <span class="input-label">BIO</span>
        <input type="text" placeholder="Bio prompt goes here... let's make it creative" ng-model="profileModel.bio">
      </label>
      <label class="edit-profile-label edit-profile-label item item-input item-stacked-label">
        <span class="input-label">FAVORITE MUSIC</span>
        <input type="text" placeholder="Snoop Lion, Lil' Dicky, Wakka Flaka" ng-model="profileModel.music">
      </label>
      <label class="edit-profile-label item item-input item-stacked-label">
        <span class="input-label">LOCATION</span>
        <input type="text" placeholder="Bozeman, MT" ng-model="profileModel.location">
      </label>

      <div class="item item-divider">
          PREFERENCES
      </div>

      <label class="edit-profile-label item item-input item-stacked-label">
        <span class="input-label">DEFAULT RESORT</span>
        <!-- <input type="text" placeholder="Bridger Bowl" ng-model="profileModel.defaultResort"> -->
        <select ng-model="profileModel.defaultResort" style="margin-left: 3em;">
          <!-- <option value="" disabled selected>Select a resort</option> -->
          <option ng-repeat="destination in main.destinations"
                  ng-value="destination.locationId"
                  ng-selected="destination.locationId == profileModel.defaultResort">
          {{destination.destinationName}}</option>

        </select>

        <!-- <select ng-model="profileModel.defaultResort" ng-options="dest.destinationName for dest in main.destinations">
        </select> -->

        <!-- <select ng-model="profileModel.defaultResort">
          <option value="" disabled selected>Select a resort</option> -->
          <!-- <option ng-value="1">#getyourassintonature photo</option> -->
          <!-- <option ng-value="2">Big Sky Resort</option> -->
          <!-- <option ng-value="3">Bridger Bowl</option>
          <option ng-value="4">Brighton Ski Resort</option> -->
          <!-- <option ng-value="5">Powder Mountain</option> -->
          <!-- <option ng-value="6">Snowbird</option> -->
        <!-- </select> -->

      </label>


      <label class="edit-profile-label item item-input item-stacked-label">
        <span class="input-label">DEFAULT PICKUP LOCATION</span>
            <ion-google-place placeholder="{{profileModel.pickupLocation.fullAddress}}"
                              autocomplete-location-obj="defaultPickupAutoPass"></ion-google-place>
      </label>

      <div class="item item-divider">
          PRIVATE INFORMATION
      </div>

      <label class="edit-profile-label item item-input item-stacked-label">
        <span class="input-label">EMAIL</span>
        <input type="text" placeholder="info@shareliftapp.com" ng-model="profileModel.email">
      </label>
      <label class="edit-profile-label item item-input item-stacked-label">
        <span class="input-label">PHONE</span>
        <input type="text" placeholder="40612345678" ng-model="profileModel.phone">
      </label>

    </div>



  </ion-content>
</ion-modal-view>
