<!-- ************************************ -->
<!-- RIDER VIEW -->
<!-- ************************************ -->

<ion-view
  title="Your Lift">
  <!--title=" {{lift.data.driverName | profileName}}'s Lift {{getToOrFrom(lift.data.liftDirection)}} {{getDestinationName(lift.data.destinationLocationId)}}">-->
  <ion-content class="lift-view" overflow-scroll="true">

    <!-- /// For testing /// -->

    <!-- <div>
      <h5>State Variables:</h5>
      <p>{{isActive}}</p>
      <p>{{driverEnRoute}}</p>
      <p>{{hasArrivedAtDestination}}</p>
      <p>{{isComplete}}</p>
    </div> -->

    <!--<div ng-controller="IndexCtrl">-->
      <!--<button class="button button-block button-dark-blue" ng-click = "openPaymentModal(lift.data)" >Test payment screen</button>-->
    <!--</div>-->

    <!-- //// ALERT BAR //// -->

    <!-- If rider is CONFIRMED, but the lift is NOT ACTIVE -->
    <div class="alert-bar active-lift"
         ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data) && !driverEnRoute && !hasArrivedAtDestination"
         style="padding-top: 1em; padding-bottom: 1em; padding-left: .5em; padding-right: .5em; background-color: #09a0c3 !important;">
      <!-- If toDestination: -->
      <p ng-if="lift.data.liftDirection == 'toDestination'" style="margin-bottom: 0px">
        <span style="color: white;">Confirmed pickup {{lift.data.departureTime|timeDateFilterWithPostfix}}
          . Be ready!</span>
      </p>
      <!-- If fromDestination: -->
      <p ng-if="lift.data.liftDirection == 'fromDestination'" style="margin-bottom: 0px;">
        <span
          style="color: white;">Confirmed return lift. Meet up at {{lift.data.departureTime|timeDateFilterWithPostfix}}</span>
      </p>
    </div>

    <!-- If lift is ACTIVE -->
    <div class="alert-bar active-lift"
         ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data) && driverEnRoute && !hasArrivedAtDestination"
         style="padding-top: 1em; padding-bottom: 1em; padding-left: .5em; padding-right: .5em; background-color: #09a0c3 !important;">
      <!-- If toDestination: -->
      <p ng-if="lift.data.liftDirection == 'toDestination'" style="margin-bottom: 0px;">
        <span style="color:white;">Driver is on their way!</span>
      </p>
      <!-- If fromDestination: -->
      <p ng-if="lift.data.liftDirection == 'fromDestination'" style="margin-bottom: 0px;">
        <span style="color: white;">Return lift happening now</span>
      </p>
    </div>

    <!-- If lift is COMPLETE -->
    <div class="alert-bar active-lift"
         ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data) && hasArrivedAtDestination"
         style="padding-top: 1em; padding-bottom: 1em; padding-left: .5em; padding-right: .5em; background-color: #09a0c3 !important;">

      <p style="margin-bottom: 0px;">
        <span style="color:white;">Lift complete</span>
      </p>
    </div>
    <!-- //// END ALERT BAR //// -->


    <div class="lift-view-container">

      <!-- THE MAP -->
       <div class="map-row riderSide">
        <div style="width:800px; max-width:100%; height: 20em;">
          <div ng-if="map">

            <ui-gmap-google-map center="riderMap.center" zoom="riderMap.zoom" draggable="false" options="options">
                <ui-gmap-marker ng-repeat="point in riderPoints"
                  coords="point.coords" idkey="point.id" options="point.options">
                  <ui-gmap-window>
                    <div id="infoWindow">{{point.title}}</div>
                  </ui-gmap-window>
                </ui-gmap-marker>
            <!--<ui-gmap-markers models="points" coords="'self'" idkey="'idKey'" icon="'icon'"></ui-gmap-markers>-->
          </ui-gmap-google-map>

          </div>
        </div>
      </div>

      <!-- Prints the whole rider object -->
      <!-- <div>{{lift.thisRider}}</div> -->

      <div class="trip-details-row">
        <div class="row lift-view-header" style="font-weight: 900; font-size: 1.3em;">
          <div class="col col-center" ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
            Your lift - {{getLiftDay(lift.data)}}, {{getLiftMonthDay(lift.data)}}
          </div>
          <div class="col col-center" ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
            {{getLiftDay(lift.data)}}, {{getLiftMonthDay(lift.data)}}
          </div>
        </div>

        <div ng-if="lift.data.liftDirection == 'toDestination'">
          <div class="row">
            <!--<div class="col col-offset-10 col-10 lift-icon col-center">-->
            <!--<i class="ion-ios-location"></i>-->
            <!--</div>-->
            <div class="col col-10 col-offset-10">
              <i class="icon ion-record" style="color: #ed6a5b"></i>
            </div>
            <div class="col col-50">

              <div ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                <b style="color:#09a0c3">{{getPickupTime(lift.data) | timeDateFilterWithPostfix}}</b>
                <span style="color:#09a0c3"> pick up</span>
              </div>
              <div ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                <b style="color:#09a0c3">{{lift.data.departureTime|timeDateFilterWithPostfix}} </b>
                <span style="color:#09a0c3"> pick up</span>

                <p style="color: #787a77;">+ ~10 min</p>
              </div>


              <div ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                <i class="ion-home" style="color: #787a77;"></i> {{lift.thisRider.pickupDropoffLocation.fullAddress}}
              </div>
              <div ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                <i class="ion-home"
                   style="color: #787a77;"></i> {{$root.findLiftInputService.pickupDropoffLocation.vicinity}}
              </div>
            </div>
            <div class="col col-30"></div>

          </div>

          <div class="row">
            <!--<div class="col col-offset-10 col-10 lift-icon col-center">-->
            <!--<i class="ion-map"></i>-->
            <!--</div>-->
            <div class="col col-10 col-offset-10">
              <i class="icon ion-record" style="color: #ed6a5b"></i>
            </div>
            <div class="col col-50">
              <b style="color:#09a0c3">{{lift.data.estimatedArrivalTime | timeDateFilterWithPostfix}}</b>
              <span style="color:#09a0c3">arrival</span>
              <br />

              <img src="img/mountain.png" width="15"
                   height="15">  {{getDestinationName(lift.data.destinationLocationId)}}
            </div>

            <div class="col col-30"></div>

          </div>
        </div>

        <div ng-if="lift.data.liftDirection == 'fromDestination'">
          <div class="row">
            <!--<div class="col col-offset-10 col-10 lift-icon col-center">-->
            <!--<i class="ion-ios-location"></i>-->
            <!--</div>-->
            <div class="col col-10 col-offset-10">
              <i class="icon ion-record" style="color: #ed6a5b"></i>
            </div>
            <div class="col col-50">
              <div class="">
                <b>{{lift.data.departureTime|timeDateFilterWithPostfix}}</b> Departure
              </div>
              <div class="">
                {{getDestinationName(lift.data.destinationLocationId)}}
              </div>
              <br />

              <div ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                <b>{{getDropoffTime(lift.data) | timeDateFilterWithPostfix}} Arrival</b>
              </div>
              <div ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift.data)">
                <b>time unknown</b> Dropoff
              </div>
              <div class="">
                {{$root.findLiftInputService.pickupDropoffLocation.fullAddress}}
              </div>
            </div>

            <div class="col col-30"></div>

          </div>
        </div>

        <hr>
      </div>

      <!-- //// Display when rider is NOT CONFIRMED in the lift  -->
      <div class="driver-details-row" ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift.data)">

        <!-- Driver Information -->
        <div class="lift-view-driver">
          <a href="#/index/publicProfile/{{lift.data.driverId}}"><img style="margin-left: 1em;"
                                                          ng-src={{getProfilePicture(lift.data.driverId)}} class="profile-photo-cover"
                                                          width="100" height="100"></a>

          <div
            style="display: inline-block; vertical-align: top; padding-left: 1em; padding-top: 1em; padding-bottom: .5em;">
            <span style="color: black; font-weight: 900;"> {{lift.data.driverName | profileName}} </span>

            <br />
            <img style="display: inline;" width="15" height="15" src="img/stars.png">

            <p style="display: inline;" class="list-ratings">Ratings coming soon</p>
            <hr />
            <!--<img style="display: inline;" width="15" height="15" src="img/friends.png">

            <p style="display: inline;"> 4 mutual friends</p>-->
          </div>
          <hr />
        </div>

        <!-- Seats Available -->
        <!-- <div class="driver-details-row">
          <div style="text-align: center;">
            <p>{{lift.data.seats - lift.data.confirmedRiders.length}} of {{lift.data.seats}} seats available</p>
          </div>
          <div style="text-align: center">
            <div style="display: inline-block; padding-left: 1em; padding-right: 1em;">
              <img ng-src={{getProfilePicture(lift.data.driverId)}} class="profile-photo-cover" width="50" height="50" />

              <p style="text-align: center;">Aiden</p>
            </div>
            <div style="display: inline-block; padding-left: 1em; padding-right: 1em;">
              <img ng-src={{getProfilePicture(lift.data.driverId)}} class="profile-photo-cover" width="50" height="50" />

              <p style="text-align: center;">You?</p>
            </div>
            <div style="display: inline-block; padding-left: 1em; padding-right: 1em;">
              <img ng-src={{getProfilePicture(lift.data.driverId)}} class="profile-photo-cover" width="50" height="50" />

              <p style="text-align: center;">You?</p>
            </div>
          </div>

          <hr />
        </div> -->

        <div class="confirmed-riders row">
          <div style="text-align: center;" class="col col-center">
            <p>{{lift.data.seats - lift.data.confirmedRiders.length}} of {{lift.data.seats}} seats available</p>
          </div>
          <br />
        </div>
        <div class="row">

          <div ng-repeat="rider in lift.data.confirmedRiders track by $index" class="col">
            <div class="row">
              <div class="col text-center">
                <a href="#/index/publicProfile/{{rider.userId}}">
                  <img ng-src={{rider|riderPhotoFilter}} class="profile-photo-cover
                       confirmed-rider-profile-img" >

                </a>
              </div>
            </div>
            <div class="row">
              <div class="col confirmed-rider-name text-center">
                {{rider.userName}}

              </div>
            </div>

          </div>
          <div ng-repeat="n in [] | range:(lift.data.seats - lift.data.confirmedRiders.length)" class="col">
            <div class="row">
              <div class="col text-center">
                <img ng-src="/profile_filler2.png" class="open-seat-profile-img">
              </div>
            </div>
            <div class="row">
              <div class="col confirmed-rider-name text-center">
                You?
              </div>
            </div>

          </div>

        </div>

        <!-- Vehicle Info -->
        <div class="driver-details-row">
          <div class="col col-center lift-view-vehicle">
            <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%"
                 ng-src="{{getDriverVehiclePhoto(lift.data.driverId)}}">

            <div class="lift-view-vehicle-blurb">
              {{getDriverVehicleInfo(lift.data.driverId)}}
            </div>
          </div>
        </div>

      </div>


      <!-- //// Display when rider is CONFIRMED in the lift  -->
      <div ng-show="$root.stateService.isConfirmedRiderInThisLift(lift.data)">

        <!-- Driver and Vehicle Info -->
        <div class="row">
          <!-- Driver photo & name -->
          <div class="col">
            <a href="#/index/publicProfile/{{lift.data.driverId}}">
              <img ng-src={{getProfilePicture(lift.data.driverId)}} class="profile-photo-cover" width="100"
                   height="100" />
            </a>

            <br />

            <span
              style="text-align: left; color: black; font-weight: 900;">{{lift.data.driverName | profileName}}</span>
          </div>
          <!-- Vehicle photo & info -->
          <div class="col">
            <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%"
                 ng-src="{{getDriverVehiclePhoto(lift.data.driverId)}}">

            <div class="lift-view-vehicle-blurb" style="display: inline;">
              {{getDriverVehicleInfo(lift.data.driverId)}}
            </div>
          </div>
        </div>


        <div class="row"
             style="border-top: 1px solid #787a77; border-bottom: 1px solid #787a77; margin-top: -1px; font-size: 1.5em;"
             ng-click="openContactDriverActionSheet(lift.data.driverPhone)">
          <div class="col col-10"></div>
          <div class="col col-10">
            <i class="icon ion-android-call button-clear-blue"></i>
          </div>

          <div class="col" style="text-align: left; color: #09a0c3">contact driver</div>
        </div>

        <div class="row"
             style="border-top: 1px solid #787a77; border-bottom: 1px solid #787a77; margin-top: -1px; margin-bottom: .1em; font-size: 1.5em;"
             ng-click="cancelRider(lift.data)">
          <div class="col col-10"></div>
          <div class="col col-10">
            <i class="icon ion-ios-close-outline button-clear-blue"></i>
          </div>

          <div class="col" style="text-align: left; color: #09a0c3">cancel ride</div>
        </div>
      </div>


      <button style="font-weight: 800; width: 90%; margin-left: auto; margin-right: auto;" class="button button-block button-dark-blue" ng-show="isLiftRequestable()"
              ng-click="lift.requestLift()"
              ng-hide="requestLiftButtonDisabled"> <!---->
        <span ng-show="requestLiftButtonDisabled==false">request this ride</span><span
          ng-show="requestLiftButtonDisabled">Request Pending</span>
      </button>

      <button style="font-weight: 800; width: 90%; margin-left: auto; margin-right: auto;" class="button button-block button-red" ng-show="liftIsUnrequestable || isLiftUnrequestable(lift.data)"
              ng-click="cancelRequest(lift)">
        Cancel request
      </button>

      <div ng-show="$root.stateService.liftIsInPastWithoutRiders(lift.data)" style="font-weight: 800; width: 90%; margin-left: auto; margin-right: auto;">This lift has already departed</div>
    </div>

    <!-- <div class="row">
      <div class="col" ng-show="lift.data.destinationLocationId == 1">
        <p>Meetup coordinates: <b>45.6321389,-111.5438611</b></p>
      </div>
      <div class="col" ng-show="lift.data.destinationLocationId == 1">
        <a href="https://maps.google.com/?q=45.6321389,-111.5438611">
          <div ng-show="lift.data.destinationLocationId == 1">Open in Google Maps</div>
        </a>
        <a href="http://maps.apple.com/?daddr=45.6321389,-111.5438611">
          <div ng-show="lift.data.destinationLocationId == 1">Open in Apple Maps</div>
        </a>
      </div>
    </div> -->

  </ion-content>
</ion-view>
