<!-- ************************************ -->
<!-- DRIVER VIEW -->
<!-- ************************************ -->

<ion-view title="Lift">
  <ion-content class="lift-view" overflow-scroll="true">

    <!-- /// For testing /// -->
    <!-- <div>
      <h5>State Variables:</h5>
      <p>{{isActive}}</p>
      <p>{{driverEnRoute}}</p>
      <p>{{hasArrivedAtDestination}}</p>
      <p>{{isComplete}}</p>
    </div> -->

    <!--<div ng-controller="IndexCtrl">-->
      <!--<button class="button button-block button-dark-blue" ng-click = "openPaymentModal(lift.data)" >Test payment screen</button>-->
    <!--</div>-->

    <!-- HEADER BAR -->

    <!-- if no confirmed passengers -->
    <div class="no-confirmed-passengers" ng-hide="liftHasConfirmedRiders(lift.data)"
         style="padding-top: .5em; padding-left: .5em; padding-right: .5em;">
      <div ng-if="lift.data.liftDirection == 'toDestination'">
        <span style="color:#787a77;">Your Lift to </span> <b
        style="color: #ed6a5b; font-weight: 600">{{getDestinationName(lift.data.destinationLocationId)}}</b> <b
        style="text-transform: uppercase; color: #787a77;">, {{getLiftDay(lift.data)}}
        , {{getLiftMonthDay(lift.data)}}</b>
      </div>
      <div ng-if="lift.data.liftDirection == 'fromDestination'">
        <span style="color:#787a77;"> Your Lift from </span> <b
        style="color: #ed6a5b; font-weight: 600">{{getDestinationName(lift.data.destinationLocationId)}}</b> <b
        style="text-transform: uppercase; color: #787a77;">, {{getLiftDay(lift.data)}}
        , {{getLiftMonthDay(lift.data)}}</b>
      </div>
    </div>

    <!-- if has confirmed passengers but not active -->
    <div class="confirmed-lift"
         ng-show="liftHasConfirmedRiders(lift.data) && !driverEnRoute && !hasArrivedAtDestination"
         style="padding-top: .5em; padding-left: .5em; padding-right: .5em;">
      <!-- If toDestination: -->
      <div ng-if="lift.data.liftDirection == 'toDestination'">
        <span style="color:#787a77;">Your Lift to </span> <b
        style="color: #ed6a5b; font-weight: 600">{{getDestinationName(lift.data.destinationLocationId)}}</b> <b
        style="text-transform: uppercase; color: #787a77;">, {{getLiftDay(lift.data)}}
        , {{getLiftMonthDay(lift.data)}}</b>
      </div>
      <div ng-if="lift.data.liftDirection == 'fromDestination'">
        <span style="color:#787a77;">Your Lift from</span> <b
        style="color: #ed6a5b; font-weight: 600">{{getDestinationName(lift.data.destinationLocationId)}}</b> <b
        style="text-transform: uppercase; color: #787a77;">, {{getLiftDay(lift.data)}}
        , {{getLiftMonthDay(lift.data)}}</b>
      </div>
    </div>


    <!-- if active lift -->
    <div class="alert-bar active-lift"
         ng-show="liftHasConfirmedRiders(lift.data) && driverEnRoute && !hasArrivedAtDestination"
         style="padding-top: .5em; padding-left: .5em; padding-right: .5em; background-color: white !important;">
      <!-- If toDestination: -->
      <p ng-if="lift.data.liftDirection == 'toDestination'">
        <span style="color:#787a77;">Your Lift to </span> <b
        style="color: #ed6a5b; font-weight: 600">{{getDestinationName(lift.data.destinationLocationId)}}</b> <span
        style="text-transform: uppercase; color: #787a77;">- HAPPENING NOW</span>
      </p>
      <!-- If fromDestination: -->
      <p ng-if="lift.data.liftDirection == 'fromDestination'">
        <span style="color:#787a77;">Your Lift from </span> <b
        style="color: #ed6a5b; font-weight: 600">{{getDestinationName(lift.data.destinationLocationId)}}</b> <span
        style="text-transform: uppercase; color: #787a77;">- HAPPENING NOW</span>
      </p>
    </div>

    <div class="row" ng-show="liftHasConfirmedRiders(lift.data) && driverEnRoute && !hasArrivedAtDestination">
      <div class="col">
        {{getLiftDay(lift.data)}}, {{getLiftMonthDay(lift.data)}}
      </div>
      <hr>
    </div>


    <!-- Lift Requests -->
    <div class="potential-riders" ng-if="!driverEnRoute && !hasArrivedAtDestination">
      <div class="row">
        <div class="col lift-heading">
          <span ng-hide="lift.data.seats - lift.data.confirmedRiders.length == 1"
                class="text-dark-blue">Lift Requests ({{lift.data.potentialRiders.length}}
            )  -  {{lift.data.seats - lift.data.confirmedRiders.length}} seats available</span>
          <span ng-show="lift.data.seats - lift.data.confirmedRiders.length == 1"
                class="text-dark-blue">Lift Requests ({{lift.data.potentialRiders.length}}
            )  -  {{lift.data.seats - lift.data.confirmedRiders.length}} seat available</span>
        </div>
      </div>
      <div ng-if="liftHasPotentialRiders(lift.data)">
        <div ng-repeat="rider in lift.data.potentialRiders"
             class="item lift-request-card">
          <div class="row">
            <div class="col col-25 col-center">
              <a href="#/index/publicProfile/{{rider.userId}}"><img style="border-radius:50%"
                ng-src={{getProfilePicture(rider.userId)}} class="profile-photo-cover potential-rider-profile-img"></a>
            </div>
            <div class="col col-50 col-center">
              <div class="row">
                <div class="col potential-rider-name">
                  {{rider.userName | profileName}}
                </div>
              </div>
              <div class="row">
                <div class="col rider-address" style="white-space: normal;">
                  {{rider.pickupDropoffLocation.fullAddress}}
                </div>
              </div>
              <div class="row">
                <div class="col potential-pickup-time">
                  <!-- Pickup time here: {{rider.pickupTime}} -->
                </div>
              </div>
            </div>
            <div class="col col-25 confirm-deny-icons col-center">
              <i style="font-weight: 900;" ng-click="lift.confirmRider(rider)" class="ion-ios-checkmark-outline text-red"></i>
              <i style="font-weight: 900;" ng-click="lift.denyRider(rider)" class="ion-ios-close-outline text-red"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- IF NO REQUESTS -->
      <!-- <div ng-if="!liftHasPotentialRiders(lift.data)">
        <div>There are no requests for this lift at the moment</div>
        <hr>
      </div> -->
    </div>


    <!-- FOR UNIQUE DESTINATIONS / EVENTS: -->
    <!-- <div class="row">
      <div class="col" ng-show="lift.data.destinationLocationId == 1">
        <p>Meetup coordinates: <b>45.6321389,-111.5438611</b></p>
      </div>
      <div class="col" ng-show="lift.data.destinationLocationId == 1">
        <a href="https://maps.google.com/?q=45.6321389,-111.5438611">
          <div ng-show="lift.data.destinationLocationId == 1">Open in Google Maps</div>
        </a>
        <a href="http://maps.apple.com/?daddr=45.6321389,-111.5438611">
          <div ng-show="lift.data.destinationLocationId == 1">Open in Apple Maps</div>
        </a>
      </div>
    </div> -->


    <!-- <div class="row">
        <div class="col lift-heading">
          <h5>Departure</h5>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-clock"></i>
        </div>
        <div class="col col-center">
          Leave by <b>{{lift.data.departureTime|timeDateFilterWithPostfix}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-location"></i>
        </div>
        <div class="col col-center">
          <b>{{lift.data.startEndLocation.fullAddress}}</b> to <b>{{getDestinationName(lift.data.destinationLocationId)}}</b>

          {{printOut(lift)}}
        </div>
      </div>
      <hr> -->

    <!-- Commented out for now... need to figure out UI for return lift display  -->
    <!-- <div class="row">
        <div class="col lift-heading">
          <h5>Return</h5>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-clock"></i>
        </div>
        <div class="col col-center">
            Meet for return at <b>{{lift.data.returnTime|timeDateFilterWithPostfix}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-location"></i>
        </div>
        <div class="col col-center">
          <b>{{getDestinationName(lift.data.destinationLocationId)}}</b> to <b>{{lift.data.startEndLocation.fullAddress}}</b>
        </div>
      </div>

      <hr> -->

    <!-- TRIP DETAILS -->


    <div class="map-row driverSide">
      <div style="width:800px;max-width:100%;height:200px;">
        <div ng-if="map">

          <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" options="options">

            <ui-gmap-marker ng-repeat="point in points"
              coords="point.coords" idkey="point.id" options="point.options">
              <ui-gmap-window>
                <div id="infoWindow">{{point.title}}</div>
              </ui-gmap-window>
            </ui-gmap-marker>

            <!--<ui-gmap-markers models="points" coords="'self'" idkey="'idKey'" icon="'icon'"></ui-gmap-markers>-->
          </ui-gmap-google-map>


        </div>
      </div>
    </div>


    <div class="row">
      <div class="col col-10 col-offset-10">
        <i class="icon ion-record" style="color: #ed6a5b"></i>
      </div>
      <div class="col col-50">
        <span class="text-dark-blue"
              style="font-weight: 900; font-size: 1.5em">{{lift.data.departureTime|timeDateFilterWithPostfix}}</span>
        <span class="text-dark-blue"> Leave </span>
        <br />

        <div ng-if="lift.data.liftDirection == 'toDestination'">
          <i class="icon ion-ios-home"></i>
          {{lift.data.startEndLocation.fullAddress}}
        </div>
        <div ng-if="lift.data.liftDirection == 'fromDestination'">
          {{getDestinationName(lift.data.destinationLocationId)}}
        </div>
      </div>
      <div class="col col-30"></div>

    </div>


    <div ng-repeat="rider in lift.data.confirmedRiders"
         class="">
      <div class="row">
        <div class="col col-10 col-offset-10">
          <i class="icon ion-record" style="color: #ed6a5b"></i>
        </div>
        <div class="col">

          <div class="text-dark-blue" style="font-weight: 900; font-size: 1.5em"
               ng-if="lift.data.liftDirection == 'toDestination'">
            <span>pick up</span>
            <!--{{rider.userName | profileName}}-->
          </div>
          <div class="col" ng-if="lift.data.liftDirection == 'fromDestination'">
            <span class="text-dark-blue" style="font-weight: 900; font-size: 1.5em">Dropoff</span>
            <br />
            <!--{{rider.userName | profileName}}-->
          </div>
          <br />

          <!-- <a href = "#/index/publicProfile/{{rider.userId}}"><img ng-src={{getProfilePicture(rider.userId)}} class="profile-photo-cover potential-rider-profile-img"></a> -->
          <a href="#/index/publicProfile/{{rider.userId}}">
            <img class="profile-photo-cover" width="30" height="30" style="border-radius:50%"
                 ng-src={{getProfilePicture(rider.userId)}}>
          </a>
          {{rider.userName | profileName}}

          <br />

          <div class="col potential-pickup-time">
            <span class="selectable">{{rider.pickupDropoffLocation.fullAddress}}</span><br><span
            class="rider-phone-number selectable">{{rider.user.profile.phone | formatPhoneFilter}}</span>
          </div>

          <div>
            <!-- <a href="https://maps.google.com/?q={{rider.pickupDropoffLocation.lat}},{{rider.pickupDropoffLocation.long}}">
                  <div class="button button-clear button-dark-blue"> <i class="ion-map"></i> Open in Google Maps</div>
                </a> -->
            <a href="{{getGoogleRedirectURL(rider.pickupDropoffLocation.fullAddress)}}">
              <div class="button btn"
                   style="color: white; background-color: #ed6a5b; font-weight: 800; line-height: 2em; min-height: 2em;">
                open in maps
              </div>
            </a>
          </div>
          <br />

          <div ng-show="driverEnRoute || hasArrivedAtDestination">
            <div class="" ng-if="lift.data.liftDirection == 'toDestination'">
              <div ng-if="rider.pickupDropOffConfirmed == false">
                <button ng-click="confirmRiderPickup(lift.data._id, rider)" class="button"
                        style="border: 1px #ed6a5b solid; line-height: 2em; min-height: 2em; background-color: white; color: #ed6a5b;">Tell rider I'm
                  here!
                </button>
              </div>
              <div ng-if="rider.pickupDropOffConfirmed == true">
                <button ng-click="" class="button button-dark-blue button-outline">Pickup Confirmed</button>
              </div>
            </div>

            <div class="" ng-if="lift.data.liftDirection == 'fromDestination'">
              <div ng-if="rider.pickupDropOffConfirmed == false">
                <button ng-click="confirmRiderDropOff(lift.data._id, rider)" class="button button-dark-blue">Confirm
                  Dropoff
                </button>
              </div>
              <div ng-if="rider.pickupDropOffConfirmed == true">
                <button ng-click="" class="button button-dark-blue button-outline">Dropoff Confirmed</button>
              </div>
            </div>
          </div>

        </div>
        <div class="confirm-deny-icons col col-10">
          <a ng-click="openContactRiderActionSheet(rider.phone)" class="call-rider"><i
            class="ion-android-call" style="color: #ed6a5b"></i></a>
        </div>
        <div class="col col-20"></div>
      </div>
    </div>

    <div class="row">
      <div class="col col-10 col-offset-10">
        <i class="icon ion-record" style="color: #ed6a5b"></i>
      </div>
      <div class="col col-60">
        <b class="text-dark-blue"
           style="font-weight: 900; font-size: 1.5em;">{{lift.data.estimatedArrivalTime | timeDateFilterWithPostfix}}
          (approx)</b>

        <span class="text-dark-blue">arrival </span>

        <br />

        <div ng-if="lift.data.liftDirection == 'toDestination'">
          <img src="img/mountain.png" width="15"
               height="15">
          {{getDestinationName(lift.data.destinationLocationId)}}
        </div>
        <div class="col col-center" ng-if="lift.data.liftDirection == 'fromDestination'">
          <i class="icon ion-ios-home"></i>
          {{lift.data.startEndLocation.fullAddress}}
        </div>
      </div>

      <div class="col col-20"></div>

    </div>


    <!-- Confirmed riders -->
    <!-- <div class="row">
        <div class="col lift-heading">
          <h4>Confirmed Riders</h4>
        </div>
      </div>

      <div class = "col" ng-show="liftHasNoRiders(lift.data)">
        <div class = "row">
          <div class = "col text-center">
            <a href="#/index/publicProfile/{{rider.userId}}"><img ng-src="/profile_filler2.png" class="open-seat-profile-img"></a>
          </div>
        </div>
        <div class = "row">
          <div class = "col confirmed-rider-name text-center">
            No riders yet
          </div>
        </div>
      </div>

      <div ng-repeat="rider in lift.data.confirmedRiders"
        class="item-chat item-remove-animate item">
        <div class = "row">
          <div class="col col-25 col-center">
              <a href = "#/index/publicProfile/{{rider.userId}}"><img ng-src={{getProfilePicture(rider.userId)}} class="profile-photo-cover potential-rider-profile-img"></a>
          </div>
          <div class = "col col-50">
            <div class="row">
              <div class="col potential-rider-name">
                {{rider.userName}}
              </div>
            </div>
            <div class="row">
              <div class="col potential-pickup-time">
                <span class = "selectable">{{rider.pickupDropoffLocation.fullAddress}}</span><br><span class="rider-phone-number selectable">{{rider.user.profile.phone | formatPhoneFilter}}</span>
              </div>
            </div>
          </div>
          <div class = "col col-25 confirm-deny-icons col-center" >
            <a ng-click="openContactRiderActionSheet(rider.user.profile.phone)" class="call-rider"><i class="ion-android-call text-dark-blue"></i></a>
          </div>
        </div>
      </div>

      <hr ng-show="liftHasPotentialRiders(lift.data) && liftHasNoRiders(lift.data)"> -->


    <div class="row" ng-show="liftHasConfirmedRiders(lift.data) && !driverEnRoute && !hasArrivedAtDestination"
         ng-click="startLiftCheckpoint()"
         style="border-top: 1px solid #787a77; border-bottom: 1px solid #787a77; margin-top: -1px; font-size: 1.5em;">
      <div class="col col-10"></div>
      <div class="col col-10">
        <i class="icon ion-arrow-right-b" style="color: #ed6a5b"></i>
      </div>

      <div class="col" style="text-align: left; color: #ed6a5b">Start Lift</div>
    </div>

    <div class="row" ng-hide="isComplete" ng-click="deleteLiftButton(lift.data)"
         style="border-top: 1px solid #787a77; border-bottom: 1px solid #787a77; margin-top: -1px; font-size: 1.5em;">
      <div class="col col-10"></div>
      <div class="col col-10">
        <i class="icon ion-ios-close-outline" style="color: #ed6a5b"></i>
      </div>
      <div class="col" style="text-align: left; color: #ed6a5b"> Cancel Lift</div>
    </div>

    <div class="row" ng-show="driverEnRoute && !hasArrivedAtDestination" ng-click="arrivedAtDestinationCheckpoint()"
         style="border-top: 1px solid #787a77; border-bottom: 1px solid #787a77; margin-top: -1px; margin-bottom: .1em; font-size: 1.5em;">
      <div class="col col-10"></div>
      <div class="col col-10">
        <i class="icon ion-flag" style="color: #ed6a5b"></i>
      </div>
      <div class="col" style="text-align: left; color: #ed6a5b"> End Lift</div>
    </div>

    <!--<ion-tabs class="tabs-striped tabs-color-assertive" style="position:absolute; bottom: 0;left: 0;right: 0;">-->

    <!--<ion-tab title="add friends" icon="ion-person-add" ng-show="liftHasConfirmedRiders(lift.data) && !driverEnRoute && !hasArrivedAtDestination">-->
    <!--<ion-nav-view name="add-friends-tab"> </ion-nav-view>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="start lift" icon="ion-arrow-right-b"-->
    <!--ng-show="liftHasConfirmedRiders(lift.data) && !driverEnRoute && !hasArrivedAtDestination"-->
    <!--ng-click="startLiftCheckpoint()">-->
    <!--<ion-nav-view name="start-lift-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="cancel lift" icon="ion-ios-close-outline" ng-hide="isComplete" ng-click="deleteLiftButton(lift.data)">-->
    <!--<ion-nav-view name="cancel-lift-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="confirm arrival" icon="ion-location" ng-show="driverEnRoute && !hasArrivedAtDestination"-->
    <!--ng-click="arrivedAtDestinationCheckpoint()">-->
    <!--<ion-nav-view name="confirm-arrival-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--</ion-tabs>-->


  </ion-content>
</ion-view>
