<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pay your driver</h1>
  </ion-header-bar>

  <ion-content class="payment-screen">

    <!-- attach all variables to paymentModel - it's what connects the controller to this view -->
    <form name="paymentForm" novalidate="" ng-submit="submitPayment(paymentForm, paymentModel)">

      <div class="row" style="padding-top: 60%; padding-bottom: 10%;">
        <div class="col col-center" style="color: #09a0c3; font-size: 1.5em; font-weight: 900; text-align: center;">
          Payments coming soon....
        </div>
      </div>
      <div class="row">
        <div class="col col-center" style="color:#787a77; font-size: 1em; text-align: center;">
          Thanks for using ShareLift!
        </div>
      </div>
      <div class="row" style="padding-top: 20%;">
        <button class="button btn"
              type="submit"
               style="margin: 0 auto; text-align: center; width: 60%; color: #09a0c3; background-color: white;"> Done
        </button>
      </div>

    <!--<div class="payment-header">-->
    <!--Help {{thisLift.driverName | profileName}} out by contributing some gas money-->
    <!--</div>-->


    <!--&lt;!&ndash; Display the driver photo &ndash;&gt;-->
    <!--<div class = "row">-->
    <!--<div class = "col text-center">-->

    <!--&lt;!&ndash; Turn getProfilePicture into a SERVICE, rather than have it be in main.controller.js &ndash;&gt;-->
    <!--<img class="profile-photo-cover" width="100" height="100" style="border-radius:50%" ng-src="/profile_filler.png.png">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="trip-details-block">-->
    <!--<div class="row">-->
    <!--<div class="col">Trip distance</div>-->
    <!--<div class="col">~ 20 miles</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; <div class="row">-->
    <!--<div class="col">CO2 savings</div>-->
    <!--<div class="col">4 trees</div>-->
    <!--</div> &ndash;&gt;-->
    <!--<div class="row">-->
    <!--<div class="col">Estimated cost for driver</div>-->
    <!--<div class="col">~ $10.00</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; <div class="row">-->
    <!--<div class="col">ShareLift passenger rate/mile</div>-->
    <!--<div class="col">$0.25 / mile</div>-->
    <!--</div> &ndash;&gt;-->
    <!--<div class="row">-->
    <!--<div class="col">Your recommended contribution:</div>-->
    <!--<div class="col"><b>$4.00</b></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; <div class="row">-->
    <!--<div class="col"><label for="">Credit Card Number:-->
    <!--<input type="text" placeholder="Credit Card Number" id="credit_card_number" style="border: 1px solid #b49b9b;">-->
    <!--</label></div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col"><label>Cvv: <input type="text" placeholder="cvv" id="cvv_number" style="border: 1px solid #b49b9b;"></label></div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col"><label for="">Exp Month: <input type="text" placeholder="Exp Month" id="month_expire" style="border: 1px solid #b49b9b;"></label></div>-->
    <!--<div class="col"><label for="">Exp Year: <input type="text" placeholder="Exp Year" id="year_expire" style="border: 1px solid #b49b9b;"></label></div>-->
    <!--</div> &ndash;&gt;-->
    <!--<div class="bottom-info-bar">In-app payments coming soon!</div>-->

    <!--&lt;!&ndash; If we want to have payment options: &ndash;&gt;-->
    <!--&lt;!&ndash; <div class="button-bar">-->
    <!--<a class="button">Pay $__ </a>-->
    <!--<a class="button button-outline">Second</a>-->
    <!--<a class="button button-outline">Third</a>-->
    <!--</div> &ndash;&gt;-->


    <!-- <div class="button-bar"> -->
    <!-- <a class="button icon-left button-full ion-close-circled button-outline" ng-click="closePaymentModal()">Don't Pay</a> &ndash;&gt; -->
    <!-- <button class="button icon-left ion-checkmark-circled button-full button-dark-blue" type="submit">Okay</button> -->
    <!-- </div> -->

    </form>

  </ion-content>
</ion-modal-view>
