<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="closePaymentHistoryModal()">Close</button>
    <h1 class = "title">Payment History</h1>
  </ion-header-bar>
  <ion-content class="login padding">

    <div>History goes here</div>



  </ion-content>
</ion-modal-view>
