<ion-view title="Payment">
  <ion-content class="login padding">

    <div class="item-text-wrap padding">
      Account Balance
    </div>

    <div class="item-text-wrap padding">
      <h2>{{accountBalance}}</h2>
    </div>

    <button class="button icon-left ion-paper-airplane button-full button-dark-blue" ng-click="openTransferMoneyModal()">transfer to bank</button>




    <div class="list">

      <div class="item item-divider">
        My Cards
      </div>

      <div ng-repeat="card in profilePayment.myCards">
        <ion-item class="item-icon-left" ng-click="openEditCardModal(card)">
          <i class="icon ion-card"></i>
          {{card.cardTitle}} - {{card.number}}
          <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
      </div>

      <a class="item" ng-click="openAddCardModal()">
        <i class="icon ion-plus-round"></i>
        add a card...
      </a>


      <!-- My Banks (Only show if the user is a driver)-->

      <div class="item item-divider">
        Banks
      </div>

      <div ng-repeat="bank in profilePayment.myBanks">
        <ion-item class="item-icon-left" ng-click="openEditBankModal(bank)">
          <i class="icon ion-cash"></i>
          <!-- Bank Data goes here -->
          <!--  -->
          <!--  -->
          <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
      </div>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-cash"></i>
        Static Bank 1
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-cash"></i>
        Static Bank 2
        <i class="icon ion-ios-arrow-forward"></i>
      </a>

      <a class="item" ng-click="openAddBankModal()">
        <i class="icon ion-plus-round"></i>
        add a bank...
      </a>


    </div>



  </ion-content>
</ion-view>
