<ion-header-bar>
  <h1 class="title">Profile</h1>
</ion-header-bar>
<ion-content>
  <div class="box profile">

    <div ng-hide="$root.currentUser || $root.loggingIn">
      <div class="row">
        <div class="col text-center profile-name">
          <h2>Logged out</h2>
        </div>
      </div>
    </div>


    <div ng-show="$root.currentUser || $root.loggingIn">
      <div class="profile-header">
        <div class="row">
          <div class="col col-25" style="position:relative;">
            <i class="ion-camera" style="float: right; position: absolute; right: 1em; bottom: 1em; color: white;"> </i>
            <!-- <img class = "profile-picture" ng-src="{{ $root.currentUser.profile.profilePicture }}"> -->

            <img class="profile-photo-cover" width="75" height="75"
              ng-src="{{ $root.currentUser.profile.profilePicture }}" ng-click="takeProfilePhoto()">

            <!-- src="https://pbs.twimg.com/profile_images/520253922884087809/Q3e0XjaK.png" -->
          </div>

          <div class="col profile-name" style="padding-top: 1em;">
            <span class="selectable"
                  style="color: #ed6a5b; font-weight: 900; font-size: 2em;">{{$root.currentUser.services.facebook.name | profileName}}</span>
            <br />
            <div ng-hide="!$root.currentUser.profile.settings.defaultCity || $root.currentUser.profile.settings.defaultCity == '' ">
              <span style="color: #8dc9d3;">{{$root.currentUser.profile.settings.defaultCity}}</span>
              <br />
            </div>
            <div ng-show="!$root.currentUser.profile.settings.defaultCity || $root.currentUser.profile.settings.defaultCity == '' ">
              <span style="color: #8dc9d3;">Bozeman, MT</span>
              <br />
            </div>
            <span style="color: #09a0c3; font-weight: 700;"> Skier at {{getDestinationName($root.currentUser.profile.settings.defaultDestination)}}</span>
            <i ng-click="openEditProfileModal()" class="ion-ios-compose-outline" style="color: #09a0c3; font-size: 2em; float: right;"></i>
          </div>

        </div>

        <!-- For now, just pulling from FB photo -->
        <!-- <div class = "row">
          <div class = "col text-center edit-button">
            <a ng-click="takeProfilePhoto()">Upload Profile Photo</a>
            <i class="ion-camera"></i>
          </div>
        </div> -->

        <!-- For testing: -->
        <!--<div class="row">-->
        <!--<div class="col text-center edit-button">-->
        <!--<a ng-click="uploadProfilePhoto()">Upload Profile Photo TEST</a>-->
        <!--<i class="ion-camera"></i>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
        <!--<button class="button button-dark-blue" ng-click="uploadProfilePhoto()">Upload Photo</button>-->
        <!--<img ng-src="{{imageData}}">-->
        <!--</div>-->


      </div>

      <div class="row">
        <div class="col">
          <div ng-hide="!$root.currentUser.profile.bio || $root.currentUser.profile.bio == '' ">
            <p style="color:#09a0c3;">{{$root.currentUser.profile.bio}}</p>
          </div>
          <div ng-show="!$root.currentUser.profile.bio || $root.currentUser.profile.bio == '' ">
            <p style="color:gray;">No bio added</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col col-10">
          <i style="color: #ed6a5b; font-size: 2em; line-height: 1.5em;" class="ion-music-note"></i>
        </div>
        <div ng-hide="!$root.currentUser.profile.music || $root.currentUser.profile.music == '' " class="col" style="color:#09a0c3;">
            <p>{{$root.currentUser.profile.music}}</p>
        </div>
        <div ng-show="!$root.currentUser.profile.music || $root.currentUser.profile.music == '' " class="col" style="color:#09a0c3;">
            <p>Gary Clark Junior, The Black Keys, Jurasic 5, & Damien Marley</p>
        </div>
      </div>


      <div class="row">

        <h4 style="color: #ed6a5b;"> Personal Information:</h4>
        </div>
      <div class="row">

        <div class="col" style="color: #09a0c3">
          <p> Email:</p>
          <p>{{$root.currentUser.services.facebook.email}}</p>

          <p> Phone: </p>

          <div class="col profile-phone" style="color: #09a0c3; padding-left: 0px;">
            <!--<i class="ion-android-call"></i>-->

            <div ng-hide="editPhoneActive" ng-click="checkEditPhone()" style="display: inline;">
              <span ng-bind="phoneInput.number()"></span>
            <span ng-show="userHasPhoneNumber($root.currentUser._id)==false"
                  class="profile-input-text">Phone Number</span>
            </div>
            <div ng-show="editPhoneActive">
              <label class="item item-input">
                <input type="tel" placeholder="Enter phone number" id="edit-phone-text-field" class="profile-edit-box"
                       ng-model="phoneInput.number" ng-model-options="{ getterSetter: true }" ng-blur="savePhone()">
              </label>
            </div>
          </div>


        </div>
      </div>
      <!-- No bio for now.
       <div class = "row">
         <div class="col profile-bio">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         </div>
       </div>
     -->

      <hr />
      <div class="row">
        <div class="col text-center" style="color: #09a0c3">
          <span> Your Average Rating:</span>
          <br />
          <i class="ion-android-star"></i><span style="font-weight: 900;"> - Ratings coming soon! </span>
          <!-- <i class="ion-android-star"></i><span style="font-weight: 900;"> 4.3/5 </span> <span> - 15 Ratings</span> -->
        </div>
      </div>
      <hr />


      <!--<div class="row">-->
      <!--<div class="col profile-heading col-90">-->
      <!--<h4> Vehicle info </h4>-->
      <!--</div>-->
      <!--</div>-->

      <div class="row">
        <div class="col text-center" style="position: relative;">
          <a ng-click="takeVehiclePhoto()">
            <!-- If the user has no vehicle picture, display the default vehicle outline.
            Otherwise display their vehicle picture -->
            <!-- class="lift-view-vehicle-img" -->
            <i class="ion-camera"
               style="float: right; position: absolute; right: 1em; bottom: 3em; color: white;"> </i>

            <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%"
                 ng-show="!$root.currentUser.profile.vehicle.vehiclePicture" ng-src="/vehicle.png">
            <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%"
                 ng-show="$root.currentUser.profile.vehicle.vehiclePicture"
                 ng-src="{{ $root.currentUser.profile.vehicle.vehiclePicture }}">
          </a>
        </div>
        <div class="col">


          <div class="row">
            <div class="col profile-phone">
              <div>
                <span >Year</span>
                  <span ng-show="userHasVehicleYear($root.currentUser._id)==false"
                        class="profile-input-text"></span>
                  <span ng-show="userHasVehicleYear($root.currentUser._id)==true"
                        class="profile-input-text">{{$root.currentUser.profile.vehicle.year}}</span>
              </div>
            </div>

            <div class="col col-10">
              <!--<h4> Vehicle info </h4>-->
              <i class="ion-ios-compose-outline" ng-click="openEditVehicleModal()" style="color: #ed6a5b; font-size: 2em; float: right;"></i>
            </div>
          </div>

          <div class="row">
            <div class="col profile-phone">
              <div>
                <span>Make</span>
                  <span ng-show="userHasVehicleMake($root.currentUser._id)==false"
                        class="profile-input-text"></span>
                  <span ng-show="userHasVehicleMake($root.currentUser._id)==true"
                        class="profile-input-text">{{$root.currentUser.profile.vehicle.make}}</span>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col profile-phone">
              <div>
                <span>Model</span>
                <span ng-show="userHasVehicleModel($root.currentUser._id)==false"
                      class="profile-input-text"></span>
                <span ng-show="userHasVehicleModel($root.currentUser._id)==true"
                        class="profile-input-text">{{$root.currentUser.profile.vehicle.model}}</span>
              </div>
            </div>
          </div>


          <!--
                   <div class = "row"  ng-click="checkEditVehicle('vehicle-seats-input-field')">
                     <div class = "col editVehicleActive-phone">
                       <div ng-hide = "editVehicleActive">
                         <span ng-bind="vehicleInput.seats()"></span>
                         <span ng-show="userHasVehicleSeats($root.currentUser._id)==false" class="profile-input-text">Seats</span>
                       </div>

                       <div ng-show="editVehicleActive">
                         <label class="item item-input">
                          <input type="text" placeholder="Seats" id="vehicle-seats-input-field" class="profile-edit-box" ng-model="vehicleInput.seats" ng-blur="checkSaveVehicle()" ng-model-options="{ getterSetter: true }" >
                        </label>
                       </div>
                     </div>
                   </div>
          -->


        </div>
      </div>

      <!--<div class="row edit-button">-->
      <!--<div class="col text-left">-->
      <!--<a ng-click="uploadVehiclePhoto()">Upload Vehicle Photo </a>-->
      <!--<i class="ion-camera"></i>-->
      <!--</div>-->
      <!--</div>-->


      <!-- Ratings

      <hr>
      <div class = "row">
        <div class = "col profile-heading">
          <h4> Passenger Ratings </h4>
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Timeliness
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Safety
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Overall Experience
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>
        <hr>
      <div class = "row">
        <div class = "col profile-heading">
          <h4> Driver Ratings </h4>
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Timeliness
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Safety
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>
      <div class = "row">
        <div class = "col profile-rating-category text-right">
          Overall Experience
        </div>
        <div class = "col profile-rating-score">
          N/A
        </div>
      </div>

    -->

      <!-- Logout Button -->
      <!--<div class="span7 text-center">-->
      <!--<button id="facebook-login" class="button button-clear button-red" ng-click="fbLogout()"> Log out</button>-->
      <!--</div>-->

      <div class="list">

        <ion-item class="item-icon-left" ng-click="fbLogout()" style="color: #ed6a5b;">
          <i class="icon ion-gear-a"></i>
          Log out / App Settings
          <!--<i class="icon ion-ios-arrow-forward"></i>-->
        </ion-item>

        <!-- <ion-item class="item-icon-left" style="color: #ed6a5b;" ng-click="goToProfilePayment()">
          <i class="icon ion-card"></i>
          Payment Preferences
          <i class="icon ion-ios-arrow-forward"></i>
        </ion-item> -->

        <!-- <ion-item class="item-icon-left" style="color: #09a0c3;">
          <i class="icon ion-social-facebook"></i>
          Connect with friends
          <i class="icon ion-ios-arrow-forward"></i>
        </ion-item> -->



      </div>


    </div>

    <div ng-show="$root.currentUser">


      <!-- Tried to use this to open email app on devices. It don't work. -->
      <!-- <a ng-href="mailto:samuelkern11@gmail.com?Subject=Sharelift%20Testing%20Feedback" class="button button-block icon-left ion-clipboard button-dark-blue">Send us your feedback!</a> -->


      <!-- List of buttons for smart people only. Comment this out when deploying to production. -->
      <!--<ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            <button class="button button-block button-dark-blue" ng-click={{item.function}}>{{item.name}}</button>
          </ion-item>
        </div>
      </ion-list> -->
      <!-- ************************************************************************************ -->


      <!--<div class="row">-->
      <!--<div class="col profile-heading">-->
      <!--<h4>Completed lifts (Rider)</h4>-->
      <!--</div>-->
      <!--</div>-->
      <!--<ion-item-->
      <!--ng-repeat="lift in main.completedLiftsRider | orderBy:'-lastMessage.timestamp'"-->
      <!--class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list"-->
      <!--type="item-text-wrap"-->
      <!--href="#/lift/{{lift._id}}">-->
      <!--<img ng-src={{lift|liftPhotoFilter}} class="profile-photo-cover">-->

      <!--<div class="row">-->
      <!--<div class="col col-75">-->
      <!--<h2>{{lift.driverName | profileName}}</h2>-->
      <!--</div>-->
      <!--<div class="col col-center">-->
      <!--<span class="last-message-timestamp">{{lift.departureTime | timeDateFilterWithPostfix}}</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</ion-item>-->

      <!--<div class="row">-->
      <!--<div class="col profile-heading">-->
      <!--<h4>Completed lifts (Driver)</h4>-->
      <!--</div>-->
      <!--</div>-->
      <!--<ion-item-->
      <!--ng-repeat="lift in main.completedLiftsDriver | orderBy:'-lastMessage.timestamp'"-->
      <!--class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list"-->
      <!--type="item-text-wrap"-->
      <!--href="#/lift/{{lift._id}}">-->
      <!--<img ng-src={{lift|liftPhotoFilter}} class="profile-photo-cover">-->

      <!--<div class="row">-->
      <!--<div class="col col-75">-->
      <!--<h2>{{lift.driverName | profileName}}</h2>-->
      <!--</div>-->
      <!--<div class="col col-center">-->
      <!--<span class="last-message-timestamp">{{lift.departureTime | timeDateFilterWithPostfix}}</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</ion-item>-->

      <br>
    </div>
  </div>
</ion-content>
