<ion-view title="Profile">
  <ion-content>
    <!--
    <p>Name: {{profile.data.profile.facebook.name}}</p>
    <p>Address: {{profile.data.profile.address}}</p>
    <p>Car: {{profile.data.profile.vehicle.make}} {{profile.data.profile.vehicle.model}}</p>
    <p>{{profile}}</p>
    <p>Photo: {{profile.data.profile.profilePicture}}</p>
    -->
    <div class="profile">

      <div class="profile-header">
        <div class="row">
          <div class="col col-25">
            <img ng-src="{{profile.data.profile.profilePicture}}" class="profile-photo-cover" width="75" height="75"
                 style="border-radius:50%">
          </div>


          <div class="col profile-name" style="padding-top: 1em;">
            <!-- {{printOut(profile.data)}} -->
            <span style="color: #ed6a5b; font-weight: 900; font-size: 2em;">{{profile.data.services.facebook.name | profileName}}</span>
            <br />

            <div ng-hide="!profile.data.profile.settings.defaultCity || profile.data.profile.settings.defaultCity == '' ">
            <span style="color: #8dc9d3;">{{profile.data.profile.settings.defaultCity}}</span>
            <br />
          </div>
          <div ng-show="!profile.data.profile.settings.defaultCity || profile.data.profile.settings.defaultCity == '' ">
            <span style="color: #8dc9d3;">Bozeman, MT</span>
            <br />
          </div>
          <span style="color: #09a0c3; font-weight: 700;"> Skier at {{getDestinationName(profile.data.profile.settings.defaultDestination)}}</span>

          </div>
        </div>
      </div>

      <div class="row">
      <div class="col">
        <div ng-hide="!profile.data.profile.bio || profile.data.profile.bio == '' ">
          <p style="color:#09a0c3;">{{profile.data.profile.bio}}</p>
        </div>
        <div ng-show="!profile.data.profile.bio || profile.data.profile.bio == '' ">
          <p style="color:gray;">No bio added</p>
        </div>

      </div>
    </div>


      <div class="row">
        <div class="col col-10">
          <i style="color: #ed6a5b; font-size: 2em; line-height: 1.5em;" class="ion-music-note"></i>
        </div>
        <div ng-hide="!profile.data.profile.music || profile.data.profile.music == '' " class="col" style="color:#09a0c3;">
            <p>{{profile.data.profile.music}}</p>
        </div>
        <div ng-show="!profile.data.profile.music || profile.data.profile.music == '' " class="col" style="color:#09a0c3;">
            <p>Nickleback! (jk, this user hasn't added music preferences)</p>
        </div>
      </div>


      <hr />
      <div class="row">
        <div class="col text-center" style="color: #09a0c3">
          <span> {{profile.data.services.facebook.first_name}}'s Average Rating:</span>
          <br />
          <!-- <i class="ion-android-star"></i><span style="font-weight: 900;"> 4.3/5 </span> <span> - 15 Ratings</span> -->
          <i class="ion-android-star"></i><span style="font-weight: 900;"> - Ratings coming soon! </span>
        </div>
      </div>
      <hr />

      <!--<div class="row">-->
      <!--<div class="col profile-heading">-->
      <!--<h4> Vehicle Info </h4>-->
      <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col text-center" style="position: relative;">
          <img ng-show="{{profile.data.profile.vehicle.vehiclePicture}}"
               ng-src="{{profile.data.profile.vehicle.vehiclePicture}}" class="vehicle-photo-cover" width="150"
               height="100" style="border-radius:10%">
          <img ng-show="{{!profile.data.profile.vehicle.vehiclePicture}}" ng-src="/vehicle.png"
               class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%">
        </div>
        <div class="col col-center">
          <div class="row">
            <div class="col lift-view-vehicle-header" style="color: #ed6a5b; ">
              <!--not sure why it's not pulling in the year, make, and model-->
              <p style="text-decoration: underline;"> {{profile.data.profile.vehicle.year}} </p>
              <p style="text-decoration: underline;"> {{profile.data.profile.vehicle.make}} </p>
              <p style="text-decoration: underline;"> {{profile.data.profile.vehicle.model}} </p>
              <!-- <p style="text-decoration: underline;">2017</p>
              <p style="text-decoration: underline;">Chevy </p>
              <p style="text-decoration: underline;">Accord </p> -->
            </div>
          </div>
        </div>

        <!-- Ratings
            <hr>

              <div class = "row">
                <div class = "col profile-heading">
                  <h4> Passenger Ratings </h4>
                </div>
              </div>
              <div class = "row">
                <div class = "col profile-rating-category text-right">
                  Timliness
                </div>
                <div class = "col profile-rating-score">
                  N/A
                </div>
              </div>
              <div class = "row">
                <div class = "col profile-rating-category text-right">
                  Safety
                </div>
                <div class = "col profile-rating-score">
                  N/A
                </div>
              </div>
              <div class = "row">
                <div class = "col profile-rating-category text-right">
                  Overall Experience
                </div>
                <div class = "col profile-rating-score">
                  N/A
                </div>
              </div>
                <hr>
              <div class = "row">
                <div class = "col profile-heading">
                  <h4> Driver Ratings </h4>
                </div>
              </div>
              <div class = "row">
                <div class = "col profile-rating-category text-right">
                  Timliness
                </div>
                <div class = "col profile-rating-score">
                  N/A
                </div>
              </div>
              <div class = "row">
                <div class = "col profile-rating-category text-right">
                  Safety
                </div>
                <div class = "col profile-rating-score">
                  N/A
                </div>
              </div>
              <div class = "row">
                <div class = "col profile-rating-category text-right">
                  Overall Experience
                </div>
                <div class = "col profile-rating-score">
                  N/A
                </div>
              </div>

            -->
      </div>
    </div>
  </ion-content>
</ion-view>
