<ion-modal-view>
  <ion-header-bar>
    <h1 class = "title">{{ratingModalTitle}}</h1>
  </ion-header-bar>

  <ion-content>
    <div class="modal-header">
      <h4>{{ curUser.userId }}</h4>
    </div>
    <div class="modal-body">
      aww yiss.
      <hr>
      <rating ng-model="ratings.rating1" max=3></rating>
      <hr>
      <rating ng-model="ratings.rating2" max=3></rating>
      <hr>
      <rating ng-model="ratings.rating3" max=3></rating>
      <hr>
      <button class = "button icon" ng-click = "submitRating()">Submit review</button>
      <hr>
      <button class = "button icon icon-left ion-ios-close-outline" ng-click = "closeRating()">Close Modal</button>
    </div>
    <div class="modal-footer">

    </div>
  </ion-content>
</ion-modal-view>
