<!-- ************************************ -->
<!-- RIDER VIEW -->
<!-- ************************************ -->

<ion-view title="Request">
  <ion-content class="lift-view" overflow-scroll="true">

    <!-- /// For testing /// -->
    <!-- <div>
      <h5>State Variables:</h5>
      <p>{{isActive}}</p>
      <p>{{driverEnRoute}}</p>
      <p>{{hasArrivedAtDestination}}</p>
      <p>{{isComplete}}</p>
    </div> -->

    <!-- <div ng-controller="IndexCtrl">
      <button class="button button-block button-dark-blue" ng-click = "openPaymentModal(request.data)" >Test payment screen</button>
    </div> -->

    <!-- HEADER BAR -->

    <!-- if no confirmed passengers -->
    <div class="no-confirmed-passengers" ng-hide="requestHasOffers(request.data)"
         style="padding-top: .5em; padding-left: .5em; padding-right: .5em;">
      <div ng-if="request.data.liftDirection == 'toDestination'">
        <span style="color:#787a77;">Your ride request to </span> <b
        style="color: #ed6a5b; font-weight: 600">{{getDestinationName(request.data.destinationLocationId)}}</b> <b
        style="text-transform: uppercase; color: #787a77;">,{{getLiftDay(request.data)}}
        , {{getLiftMonthDay(request.data)}}</b>
      </div>
      <div ng-if="request.data.liftDirection == 'fromDestination'">
        <span style="color:#787a77;"> Your ride request from </span> <b
        style="color: #ed6a5b; font-weight: 600">{{getDestinationName(request.data.destinationLocationId)}}</b> <b
        style="text-transform: uppercase; color: #787a77;">,{{getLiftDay(request.data)}}
        , {{getLiftMonthDay(request.data)}}</b>
      </div>
    </div>

    <div class="row" ng-show="requestHasOffers(request.data)">
      <div class="col">
        {{getLiftDay(request.data)}}, {{getLiftMonthDay(request.data)}}
      </div>
      <hr>
    </div>

    <!-- Lift Requests -->
    <div class="potential-riders">
      <div class="row">
        <div class="col lift-heading">
          <span class="text-dark-blue">Offers ({{request.data.offers.length}})</span>
        </div>
      </div>
      <div ng-if="requestHasOffers(request.data)">
        <div ng-repeat="offer in request.data.offers"
             class="item lift-request-card">
          <div class="row">
            <div class="col col-25 col-center">
              <a href="#/index/publicProfile/{{offer.driverId}}"><img
                ng-src={{getProfilePicture(offer.driverId)}} class="profile-photo-cover potential-rider-profile-img"></a>
            </div>
            <div class="col col-50 col-center">
              <div class="row">
                <div class="col potential-rider-name">
                  {{offer.driverName | profileName}}
                </div>
              </div>
              <div class="row">
                <div class="col rider-address">
                  Leaving at {{offer.departureTime | formatLiftDepartureTime}}
                </div>
              </div>
              <div class="row">
                <div class="col potential-pickup-time">
                  <!-- Pickup time here: {{rider.pickupTime}} -->
                </div>
              </div>
            </div>
            <div class="col col-25 confirm-deny-icons col-center">
              <i ng-click="confirmOffer(offer, request.data)" class="ion-ios-checkmark-outline text-red"></i>
              <i ng-click="denyOffer(offer, request.data)" class="ion-ios-close-outline text-red"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- IF NO REQUESTS -->
      <!-- <div ng-if="!requestHasOffers(request.data)">
        <div>There are no offers for this lift at the moment</div>
        <hr>
      </div> -->
    </div>

    <!-- TRIP DETAILS -->

    <div class="map-row driverSide">
      <div style="width:800px;max-width:100%;height:200px;">
        <div ng-if="map">

          <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" options="options">

            <ui-gmap-marker ng-repeat="point in points"
              coords="point.coords" idkey="point.id" options="point.options">
              <ui-gmap-window>
                <div id="infoWindow">{{point.title}}</div>
              </ui-gmap-window>
            </ui-gmap-marker>

            <!--<ui-gmap-markers models="points" coords="'self'" idkey="'idKey'" icon="'icon'"></ui-gmap-markers>-->
          </ui-gmap-google-map>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col col-10 col-offset-10">
        <i class="icon ion-record" style="color: #ed6a5b"></i>
      </div>
      <div class="col col-50">
        <span class="text-dark-blue"
              style="font-weight: 900; font-size: 1.5em">{{request.data.startDepartureTime|timeDateFilterWithPostfix}} - {{request.data.endDepartureTime|timeDateFilterWithPostfix}}</span>
        <span class="text-dark-blue"> Departure window</span>
        <br />

        <div ng-if="request.data.liftDirection == 'toDestination'">
          <i class="icon ion-ios-home"></i>
          {{request.data.startEndLocation.fullAddress}}
        </div>
        <div ng-if="request.data.liftDirection == 'fromDestination'">
          {{getDestinationName(request.data.destinationLocationId)}}
        </div>
      </div>
      <div class="col col-30"></div>

    </div>

    <div class="row">
      <div class="col col-10 col-offset-10">
        <i class="icon ion-record" style="color: #ed6a5b"></i>
      </div>
      <div class="col col-60">
        <!-- <b class="text-dark-blue"
           style="font-weight: 900; font-size: 1.5em;">{{request.data.estimatedArrivalTime | timeDateFilterWithPostfix}}
          (approx)</b> -->
        <span class="text-dark-blue">To: </span>

        <br />

        <div ng-if="request.data.liftDirection == 'toDestination'">
          <img src="img/mountain.png" width="15"
               height="15">
          {{getDestinationName(request.data.destinationLocationId)}}
        </div>
        <div class="col col-center" ng-if="request.data.liftDirection == 'fromDestination'">
          <i class="icon ion-ios-home"></i>
          {{request.data.startEndLocation.fullAddress}}
        </div>
      </div>

      <div class="col col-20"></div>

    </div>


    <!-- FOR UNIQUE DESTINATIONS / EVENTS: -->
    <!-- <div class="row">
      <div class="col" ng-show="request.data.destinationLocationId == 1">
        <p>Meetup coordinates: <b>45.6321389,-111.5438611</b></p>
      </div>
      <div class="col" ng-show="request.data.destinationLocationId == 1">
        <a href="https://maps.google.com/?q=45.6321389,-111.5438611">
          <div ng-show="request.data.destinationLocationId == 1">Open in Google Maps</div>
        </a>
        <a href="http://maps.apple.com/?daddr=45.6321389,-111.5438611">
          <div ng-show="request.data.destinationLocationId == 1">Open in Apple Maps</div>
        </a>
      </div>
    </div> -->


    <!-- <div class="row">
        <div class="col lift-heading">
          <h5>Departure</h5>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-clock"></i>
        </div>
        <div class="col col-center">
          Leave by <b>{{request.data.departureTime|timeDateFilterWithPostfix}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-location"></i>
        </div>
        <div class="col col-center">
          <b>{{request.data.startEndLocation.fullAddress}}</b> to <b>{{getDestinationName(request.data.destinationLocationId)}}</b>

          {{printOut(lift)}}
        </div>
      </div>
      <hr> -->

    <!-- Commented out for now... need to figure out UI for return lift display  -->
    <!-- <div class="row">
        <div class="col lift-heading">
          <h5>Return</h5>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-clock"></i>
        </div>
        <div class="col col-center">
            Meet for return at <b>{{request.data.returnTime|timeDateFilterWithPostfix}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col col-offset-10 col-10 lift-icon col-center">
          <i class="ion-location"></i>
        </div>
        <div class="col col-center">
          <b>{{getDestinationName(request.data.destinationLocationId)}}</b> to <b>{{request.data.startEndLocation.fullAddress}}</b>
        </div>
      </div>

      <hr> -->




    <!-- Confirmed riders -->
    <!-- <div class="row">
        <div class="col lift-heading">
          <h4>Confirmed Riders</h4>
        </div>
      </div>

      <div class = "col" ng-show="liftHasNoRiders(request.data)">
        <div class = "row">
          <div class = "col text-center">
            <a href="#/index/publicProfile/{{rider.userId}}"><img ng-src="/profile_filler2.png" class="open-seat-profile-img"></a>
          </div>
        </div>
        <div class = "row">
          <div class = "col confirmed-rider-name text-center">
            No riders yet
          </div>
        </div>
      </div>

      <div ng-repeat="rider in request.data.confirmedRiders"
        class="item-chat item-remove-animate item">
        <div class = "row">
          <div class="col col-25 col-center">
              <a href = "#/index/publicProfile/{{rider.userId}}"><img ng-src={{getProfilePicture(rider.userId)}} class="profile-photo-cover potential-rider-profile-img"></a>
          </div>
          <div class = "col col-50">
            <div class="row">
              <div class="col potential-rider-name">
                {{rider.userName}}
              </div>
            </div>
            <div class="row">
              <div class="col potential-pickup-time">
                <span class = "selectable">{{rider.pickupDropoffLocation.fullAddress}}</span><br><span class="rider-phone-number selectable">{{rider.user.profile.phone | formatPhoneFilter}}</span>
              </div>
            </div>
          </div>
          <div class = "col col-25 confirm-deny-icons col-center" >
            <a ng-click="openContactRiderActionSheet(rider.user.profile.phone)" class="call-rider"><i class="ion-android-call text-dark-blue"></i></a>
          </div>
        </div>
      </div>

      <hr ng-show="liftHasPotentialRiders(request.data) && liftHasNoRiders(request.data)"> -->


    <div class="row">

      <div class="col">
        <button class="button button-block button-red" ng-click="deleteRequest(request.data)">Delete Request</button>
      </div>


    </div>

    <!--<ion-tabs class="tabs-striped tabs-color-assertive" style="position:absolute; bottom: 0;left: 0;right: 0;">-->

    <!--<ion-tab title="add friends" icon="ion-person-add" ng-show="liftHasConfirmedRiders(request.data) && !driverEnRoute && !hasArrivedAtDestination">-->
    <!--<ion-nav-view name="add-friends-tab"> </ion-nav-view>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="start lift" icon="ion-arrow-right-b"-->
    <!--ng-show="liftHasConfirmedRiders(request.data) && !driverEnRoute && !hasArrivedAtDestination"-->
    <!--ng-click="startLiftCheckpoint()">-->
    <!--<ion-nav-view name="start-lift-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="cancel lift" icon="ion-ios-close-outline" ng-hide="isComplete" ng-click="deleteLiftButton(request.data)">-->
    <!--<ion-nav-view name="cancel-lift-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="confirm arrival" icon="ion-location" ng-show="driverEnRoute && !hasArrivedAtDestination"-->
    <!--ng-click="arrivedAtDestinationCheckpoint()">-->
    <!--<ion-nav-view name="confirm-arrival-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--</ion-tabs>-->


  </ion-content>
</ion-view>
