<ion-view view-title="Request">
  <ion-content>
    <div style="margin-bottom: 1.5em;">
      <span style="font-size: 4em;">
        <div class="map-row driverSide">
          <div style="width:800px;max-width:100%;height:200px;">
            <div ng-if="map">

              <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" options="options">

                <ui-gmap-marker ng-repeat="point in points"
                  coords="point.coords" idkey="point.id" options="point.options">
                  <ui-gmap-window>
                    <div id="infoWindow">{{point.title}}</div>
                  </ui-gmap-window>
                </ui-gmap-marker>

                <!--<ui-gmap-markers models="points" coords="'self'" idkey="'idKey'" icon="'icon'"></ui-gmap-markers>-->
              </ui-gmap-google-map>

              
            </div>
          </div>
        </div>
      </span>
    </div>
    <div class="row">
      <div class="col col-center">
        <span style="color: #ed6a5b; font-size: 1.5em; font-weight: 900;">{{getLiftDay(request.data)}}</span>
      </div>
    </div>
    <div class="row">
      <div class="lift-view-driver">
        <a href="#/index/publicProfile/{{request.data.riderId}}">
          <img style="margin-left: 1em;"
               ng-src={{getProfilePicture(request.data.riderId)}} class="profile-photo-cover"
               width="100" height="100"></a>

        <div
          style="display: inline-block; vertical-align: top; padding-left: 1em; padding-top: 1em; padding-bottom: .5em;">
          <span style="color: black; font-weight: 900;">{{request.data.riderName}}</span>

          <br />
          <img style="display: inline;" width="20" height="20" src="img/blue_star.png">

          <p style="display: inline; color: #09a0c3" class="list-ratings"> Ratings coming soon</p>
          <hr />

          
          <!--<img style="display: inline;" width="20" height="20" src="img/blue_friends.png">

          <p style="display: inline; color: #09a0c3;"></p>

          <div>
            <img ng-src={{getProfilePicture(lift.data.driverId)}} class="profile-photo-cover"
                 width="30" height="30" style="display: inline;">
            <img ng-src={{getProfilePicture(lift.data.driverId)}} class="profile-photo-cover"
                 width="30" height="30" style="display: inline;">
          </div>-->


        </div>
      </div>
    </div>

    <div class="row">
      <p style="color: #09a0c3; text-align: center;"> Looking for pick up between </p>
    </div>

    <div class="row">
      <div class="col col-10 col-offset-10">
        <i class="icon ion-record" style="color: #ed6a5b"></i>
      </div>
      <div class="col col-70">
        <span style="color: #09a0c3; font-size: 1.5em; font-weight: 900;">{{getLiftTime(request.data.startDepartureTime)}} - {{getLiftTime(request.data.endDepartureTime)}}</span></div>
    </div>

    <div class="row">

      <div class="col col-10 col-offset-10">
        <i class="icon ion-record" style="color: #ed6a5b"></i>
      </div>
      <div class="col col-70">
        <img style="display: inline;" width="15" height="15" src="img/blue_house.png">
        <span style="color: #787a77">{{request.data.startEndLocation.vicinity}}</span>
      </div>
    </div>
    <div class="row">

      <div class="col col-10 col-offset-10">
        <i class="icon ion-record" style="color: #ed6a5b"></i>
      </div>
      <div class="col col-70">
        <img style="display: inline;" width="15" height="15" src="img/blue_mountain.png">

        <span style="color: #787a77">{{getDestinationName(request.data.destinationLocationId)}}</span></div>
    </div>

    <div>
      <button ng-click="openOfferLiftModal()"
              style="font-weight: 800; width: 90%; margin-left: auto; margin-right: auto;"
              class="button button-block button-red">
        <span style="font-weight: 900;">offer to drive</span>
      </button>
    </div>

  </ion-content>
</ion-view>
