<ion-modal-view>
  <ion-header-bar>
    <h1 class = "title">Select Resort</h1>
    <button class="button button-clear button-primary" ng-click="closeOfferDestinationModal()">Cancel</button>
  </ion-header-bar>

  <ion-content class="">

    <ion-item
        ng-repeat="destination in main.destinations"
        class="item-remove-animate item-avatar"
        type="item-text-wrap"
        ng-click="setOfferDestination(destination)">

      <div class="row">
        <div class="col">
          {{destination.destinationName}}
        </div>
      </div>

    </ion-item>

  </ion-content>
</ion-modal-view>
