<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-primary" ng-click="closeTransferMoneyModal()">Cancel</button>
    <h1 class = "title">transfer money</h1>
  </ion-header-bar>
  <ion-content class="login padding">

    <!-- select the amount you'd like to transfer -->

    <!-- choose a connected bank you'd like to transfer the money to, or ADD a bank if there are no bank accounts connected-->


    <button class="button button-light-blue button-block" ng-click="transferMoney()">Transfer Money</button>

  </ion-content>
</ion-modal-view>
