<ion-modal-view>
  <ion-header-bar>
    <h1 class = "title">Terms & Conditions + Privacy Policy</h1>
  </ion-header-bar>

  <ion-content class="waivers-screen padding">

      <div class="waiver-rows">
          <div>Terms & Conditions</div>
          <a href="#" onclick="window.open('http://www.shareliftapp.com/terms', '_system');">
            <div class="button button-clear button-dark-blue"> <i class="ion-document-text"></i>  View the ShareLift Terms & Conditions</div>
          </a>
          <ion-checkbox ng-model="acceptTermsConditions" ng-change="toggleAcceptTermsConditions()" class="waiver-checkbox">I accept the <b href="http://shareliftapp.com/">ShareLift Terms & Conditions</b></ion-checkbox>
      </div>

      <div class="waiver-rows">
          <div>Privacy Policy</div>
          <a href="#" onclick="window.open('http://www.shareliftapp.com/privacy', '_system');">
            <div class="button button-clear button-dark-blue"> <i class="ion-document-text"></i>  View the ShareLift Privacy Policy</div>
          </a>
          <ion-checkbox ng-model="acceptPrivacyPolicy" ng-change="toggleAcceptPrivacyPolicy()" class="waiver-checkbox">I accept the ShareLift Privacy Policy</ion-checkbox>
      </div>






    <div class="waivers-error-message">{{errorMessage}}</div>

    <button class="button button-light-blue button-block" ng-click="submitWaiver()">Submit</button>





  </ion-content>
</ion-modal-view>
