<ion-view title="A little more">
  <ion-content class="login padding">

    <!--<div class="item-text-wrap padding">-->
    <!--We need the following info:-->
    <!--</div>-->

    <label class="item item-input" style="border: 1px solid #09a0c3 !important; margin-bottom: 1em;">
      <input type="text" ng-model="facebookData.firstName" placeholder="first name (mandatory)"
             style="color: #09a0c3 !important;" />
    </label>
    <label class="item item-input" style="border: 1px solid #09a0c3 !important; margin-bottom: 1em;">
      <input type="text" ng-model="facebookData.lastName" placeholder="last name (optional)"
             style="color: #09a0c3 !important;" />
    </label>

    <div class="item-text-wrap padding" style="color: #09a0c3 !important;">
      I am...
    </div>


    <ion-list>
      <ion-checkbox ng-repeat="(key,value) in genderOptions" class="checkbox-square" ng-model="facebookData.gender" ng-true-value="'{{key}}'" ng-false-value=""
                    style="color: #09a0c3 !important;">{{value}}
      </ion-checkbox>
      
    </ion-list>

    <button class="button button-block button-dark-blue" ng-click="submitFacebookData()" style="font-weight: 900;">
      continue
    </button>

  </ion-content>
</ion-view>
