<ion-view title="Create Account">
  <ion-content class="login padding">

    <div class="item-text-wrap padding"
         style="font-weight: 900; text-align: center; font-size: 30px; color: #ed6a5b; line-height: 1em;">
      Nice to meet you, tell us more
    </div>

    <br />

    <div class="error-message">{{createAccountError}}</div>

    <label class="item item-input" style="border: 1px solid #09a0c3 !important; margin-bottom: 1em;">
      <input type="email" ng-model="credentials.username" placeholder="email (mandatory)"
             style="color: #09a0c3 !important;" />
    </label>
    <label class="item item-input" style="border: 1px solid #09a0c3 !important; margin-bottom: 1em;">
      <input type="password" ng-model="credentials.password" placeholder="password"
             style="color: #09a0c3 !important;" />
    </label>
    <label class="item item-input" style="border: 1px solid #09a0c3 !important; margin-bottom: 1em;">
      <input type="password" ng-model="credentials.passwordConfirm" placeholder="confirm password"
             style="color: #09a0c3 !important;" />
    </label>
    <br />

    <div class="waiver-rows">
      <!-- <div>Terms & Conditions</div> -->
      <a href="#" onclick="window.open('http://www.shareliftapp.com/terms', '_system');">
        <div>Terms & Conditions</div>
        <!-- <div class="button button-clear button-dark-blue"> <i class="ion-document-text"></i>  View the ShareLift Terms & Conditions</div> -->
      </a>
      <ion-checkbox ng-model="acceptTermsConditions" ng-change="toggleAcceptTermsConditions()" class="checkbox-square"
                    style="color: #ed6a5b; border-style: none !important;">I agree
      </ion-checkbox>
    </div>
    <br />

    <div class="waiver-rows">
      <!-- <div>Privacy Policy</div> -->
      <a href="#" onclick="window.open('http://www.shareliftapp.com/privacy', '_system');">
        <div>Privacy Policy</div>
        <!-- <div class="button button-clear button-dark-blue"> <i class="ion-document-text"></i>  View the ShareLift Privacy Policy</div> -->
      </a>
      <ion-checkbox ng-model="acceptPrivacyPolicy" ng-change="toggleAcceptPrivacyPolicy()" class="checkbox-square"
                    style="color: #ed6a5b; border-style: none !important;">I agree
      </ion-checkbox>
    </div>


    <button class="button button-block button-dark-blue" ng-click="doCreateAccountAction()" style="font-weight: 900;">
      continue
    </button>

  </ion-content>
</ion-view>
