<ion-view title="Reset Password">
  <ion-content class="login padding">

    <div class="item-text-wrap padding"
         style="color: #ed6a5b; text-align: center; font-weight: 900;font-size: 40px; line-height: 2em;"> we all forget
      sometimes
    </div>

    <label class="item item-input" style="border: 1px solid #09a0c3;">
      <input type="email" ng-model="credentials.username" placeholder="email" style="color: #09a0c3;"/>
    </label>


    <button class="button button-block button-dark-blue" ng-click="sendResetEmail()">reset password</button>

  </ion-content>
</ion-view>
