<ion-view title="Preferences">
  <ion-content class="login padding">

    <!--<div class="item-text-wrap padding">-->
    <!--Almost there...-->
    <!--</div>-->
    <a ng-click="takeProfilePhoto()">

      <img class="profile-photo-cover" width="150" height="150" style="display:block; margin:auto; padding-top: 2em;"
           ng-show="!$root.currentUser.profile.profilePicture" ng-src="/profile_filler.png">
    </a>

    <a ng-click="takeProfilePhoto()">
      <img class="profile-photo-cover" width="150" height="150" style="display:block; margin:auto; padding-top: 2em;"
           ng-show="$root.currentUser.profile.profilePicture" ng-src="{{ $root.currentUser.profile.profilePicture }}">
    </a>
    <br />

    <!--<div class="row edit-button">-->
    <!--<div class="col text-left">-->
    <!--<a ng-click="takeProfilePhoto()">change profile photo </a>-->
    <!--<i class="ion-camera"></i>-->
    <!--</div>-->
    <!--</div>-->


    <!--<span class="input-label">Favorite Mountain</span>-->

    <div class="lift-input">
      <select ng-model="preferences1.destinationId"
              style=" width: 100%; height: 3em; background-color: white; color: #09a0c3; border-color: #09a0c3">
        <option value="" selected>Favorite Mountain</option>
        <!-- <option ng-value="1">#getyourassintonature photo</option> -->
        <option ng-value="2">Big Sky Resort</option>
        <option ng-value="3">Bridger Bowl</option>
        <option ng-value="4">Brighton Ski Resort</option>
        <!-- <option ng-value="5">Powder Mountain</option> -->
        <!-- <option ng-value="6">Snowbird</option> -->
      </select>
    </div>
    <br />

    <button class="button button-block button-dark-blue" ng-click="submitProfileSettings1()" style="font-weight: 900;">
      continue
    </button>

  </ion-content>
</ion-view>
