<ion-view title="Preferences">
  <ion-content class="login padding">

    <div class="banner-container">
      <img ng-src="/2016Wide.png" class="banner-image">
    </div>

    <span class="input-label" style="color: #09a0c3">I will...</span>

    <!--<div class="lift-input">-->
    <!--<select ng-model="preferences2.defaultRole">-->
    <!--<option value="" disabled selected>Tap to select</option>-->

    <!--<option ng-value="rider" style="color: #09a0c3">ride</option>-->
    <!--<option ng-value="driver" style="color: #ed6a5b">drive</option>-->
    <!--<option ng-value="both" style="color: #09a0c3">both</option>-->

    <!--</select>-->
    <!--</div>-->
    <ion-list>

      <ion-checkbox class="checkbox-square" ng-model="preferences2.defaultRole" ng-true-value="'driver'" ng-false-value=""
                    style="color: #ed6a5b; border-width: 0;">
        <img src="/img/drive.png" width="50" height="50" />
        <span style="top: -1em; position: relative;">drive</span>
      </ion-checkbox>
      <ion-checkbox class="checkbox-square" ng-model="preferences2.defaultRole" ng-true-value="'rider'" ng-false-value=""
                    style="color: #09a0c3; border-width: 0;">
        <img src="/img/thumb.png" width="50" height="50" />
        <span style="top: -1em; position: relative;">ride</span>
      </ion-checkbox>
      <ion-checkbox class="checkbox-square" ng-model="preferences2.defaultRole" ng-true-value="'both'" ng-false-value=""
                    style="color: #09a0c3; border-width: 0;">both
      </ion-checkbox>
      <br />

    </ion-list>

    <!-- This should only appear if the user has chosen a defaultRole of "rider" -->
    <div class="item-input-wrapper" style="border: solid 1px #09a0c3; background-color: white;">
      <ion-google-place placeholder="Preferred pickup location" ng-model="defaultPickupLocationModel"
                        autocomplete-location-obj="autocompleteObjectPassSettings"
                        style="width: 100%; color: #09a0c3"></ion-google-place>
    </div>
    <br />

    <p style="text-decoration: underline; color: #09a0c3; text-align: center;" ng-click="skipProfileSettings2()">
      skip</p>

    <button class="button button-block button-dark-blue" ng-click="submitProfileSettings2()"
            style="font-weight: 900; margin-left: 0px;">
      continue
    </button>

  </ion-content>
</ion-view>
