<ion-view title="Login User" hide-nav-bar="true">
  <ion-content class="login padding">

    <!--<div class="row">-->
      <!--<div class="col text-center login-header">-->
        <!--Welcome to-->
      <!--</div>-->
    <!--</div>-->

    <div class="banner-container">
      <img ng-src="/sign_in_logo.png" class="banner-image" style="">
    </div>

    <p style="color: #ed6a5b; text-align: center; font-weight: 900;">Ride with your friends </p>
    <button class="button button-block button-dark-blue" ng-click="fbLogin()"
            style="font-weight: 900;">
      <i class="ion-social-facebook" style="color: white; padding-right: 1em;"></i>
      Log in using facebook
    </button>


    <p class="" style="color: #ed6a5b; text-align: center; font-weight: 900;"> or make new ones</p>


    <div class="padding">
      <button class="button button-block button-dark-blue" ng-click="goToCreateAccount()" style="font-weight: 900;">
        Create an account
      </button>

      <p class="" style="color: #09a0c3; text-align: center; font-weight: 900;"> or</p>

      <button class="button button-block button-dark-blue" ng-click="goToLoginDetail()" style="font-weight: 900;">
        log in
      </button>

    </div>

  <!-- For testing images locally without having to log in -->
    <!-- <div class="col text-center" style="position: relative;">
          <a ng-click="takeTestPhoto()">

            <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%"
                 ng-show="!testPhotoUrl" ng-src="/vehicle.png">
            <img class="vehicle-photo-cover" width="150" height="100" style="border-radius:10%"
                 ng-show="testPhotoUrl"
                 ng-src="{{ testPhotoUrl }}">
          </a>
        </div> -->





  </ion-content>
</ion-view>
