<ion-view title="Login">
  <ion-content class="login padding">

    <div class="item-text-wrap padding" style="color: #ed6a5b; text-align: center; font-weight: 900;font-size: 40px; line-height: 2em;">
      great to see you again
    </div>


    <label class="item item-input" style="border: 1px solid #09a0c3;">
      <input type="email" ng-model="credentials.username" placeholder="email" style="color: #09a0c3;" />
    </label>
    <br />
    <label class="item item-input" style="border: 1px solid #09a0c3;">
      <input type="password" ng-model="credentials.password" placeholder="password" style="color: #09a0c3;"/>
    </label>
    <br />

    <div class="error-message">{{loginErrorMessage}}</div>

    <br />


    <p style="text-decoration: underline; color: #09a0c3; text-align: center;" ng-click="goToForgotPassword()">forgot password</p>
    <button class="button button-block button-dark-blue" ng-click="doLoginAction()" style="font-weight: 900;">Login</button>

  </ion-content>
</ion-view>
