<ion-view title="Add Phone Number">
  <ion-content class="phone-input padding">

    <!--<div class="item-text-wrap padding">-->
    <!--Add your phone number-->
    <!--</div>-->


    <label class="item item-input" style="border: 1px solid #09a0c3 !important; margin-bottom: 1em;">
      <input type="tel" placeholder="phone number (mandatory)" class="" ng-model="phoneModel.phoneNumber"
             style="color: #09a0c3 !important; font-weight: 900;">
    </label>

    <div class="row">
      <div class="col" style="color: #787a77;">
        We only share your phone number with people you want to ride with
      </div>
    </div>

    <div class="row">
      <div class="col" style="color: #09a0c3;">
        Can members of the ShareLift team use this number to contact you in order to
        get your feedback?
      </div>
    </div>

    <ion-checkbox ng-model="phoneModel.allowContact" ng-change="toggleAllowContact()"
                  class="allow-contact-checkbox checkbox-square" style="color: #09a0c3;">{{phoneModel.allowContactText}}</ion-checkbox>


    <div class="phone-error-message">{{phoneModel.phoneErrorMessage}}</div>

    <div class="padding">
      <button class="button button-block button button-dark-blue" ng-click="submitPhoneNumber()" style="font-weight: 900;">Continue
      </button>
    </div>

  </ion-content>
</ion-view>
