<!--<ul mfb-menu active-icon="ion-plus-round" resting-icon="ion-plus-round" main-action="openOfferLiftModal()" position="br"></ul>-->
<ion-view view-title={{navTitle}} hide-back-button=true>
  <ion-header-bar class="bar bar-subheader" style="padding: 0 !important; ">
    <div class="filter-bar" ng-show="ratingNeeded() == false"> <!--isInActiveLift == false && -->
      <!--Removed that for now. State machine under review -->

      <!-- <div class="search-bar" ng-controller="MapController">
        <div class="bar bar-header item-input-inset" id="locationField">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-location-outline placeholder-icon"></i>
            <ion-google-place placeholder="Enter Pickup Location" autocomplete-location-obj="autocompleteObjectPass"></ion-google-place>
          </label>
        </div>
      </div> -->

      <!--<div class="list direction-toggle">-->
      <!--<div class="item item-input">-->

      <!--<div class="row">-->

      <!--<div class="col">-->
      <!--&lt;!&ndash; <img width="20" height="20" src="img/toDestinationArrow.png"> &ndash;&gt;-->
      <!--</div>-->


      <!--<div class="col">-->
      <!--&lt;!&ndash;<img width="30" height="30" src="img/change.png" ng-click="toggleDirection()">&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="col">-->
      <!--&lt;!&ndash; <img width="20" height="20" src="img/fromDestinationArrow.png"> &ndash;&gt;-->
      <!--</div>-->

      <!--</div>-->

      <!--</div>-->
      <!--</div>-->

      <!-- An alert bar - for now just displays an error message if not connected to the internet -->
      <div ng-show="getConnectionStatus() != 'connected'" class="alert-bar-error">
        <p>Connection Error: {{getConnectionStatus()}}</p>
      </div>


      <div class="list" style="margin-bottom: 0px !important;">
        <label class="item item-input" style="float: right; width: 100%; display: block; padding-right: 1em;">
          <!--<div class="filter-display-text"><i class="filter-icon ion-android-calendar"></i></div>-->

          <div class="date-selection">
            <ion-datetime-picker date am-pm ng-model="dateInput">
              <label>
                <div class="filter-display-text-right">
                <span style="color: #09a0c3">  lifts offered</span>
                  <!-- <span id="date-selection-day" class="date-borderline">{{dateInput| date: "EEEE, MMMM dd"}}</span> -->
                  <span ng-hide="dateInput === null" id="date-selection-day"
                        class="date-borderline">{{dateInput| date: "EEEE, MMMM dd"}}</span>
                  <span ng-show="dateInput === null" id="date-selection-day" class="date-borderline" style="color: #09a0c3 !important;">any day</span>
                </div>
              </label>
            </ion-datetime-picker>
          </div>

        </label>
      </div>


      <div class="list destination-selection" ng-hide="liftDirectionFilter == 'fromDestination'">
        <div class="item item-input">
          <img width="20" height="20" src="img/location.png"><br>
          <label class="item-input-wrapper">
            <ion-google-place placeholder="{{$root.currentUser.profile.settings.defaultPickupLocation.fullAddress}}" ng-model="pickupDropOffAddress"
                              autocomplete-location-obj="autocompleteObjectPass"></ion-google-place>
          </label>
        </div>
      </div>

      <div>

        <div class="list destination-selection">
          <div class="item item-input" style="padding-top: 0; padding-bottom: 0;">
            <!-- <div class="filter-display-text"><i class="filter-icon ion-map"></i></div> -->
            <img width="20" height="20" src="img/mountain.png"><br>

            <div ng-show="hasSelectedResort()" class="button button-clear" ng-click="openSelectDestinationModal()">
              {{selectedResort.destinationName}}
            </div>
            <div ng-show="!hasSelectedResort()" class="button button-clear" ng-click="openSelectDestinationModal()">
              any mountain
            </div>
          </div>
        </div>

        <div class="list destination-selection" ng-show="liftDirectionFilter == 'fromDestination'">
          <div class="item item-input" style="padding-top: .5em;">
            <img width="20" height="20" src="img/location.png"><br>
            <label class="item-input-wrapper">
              <ion-google-place placeholder="{{$root.currentUser.profile.settings.defaultPickupLocation.fullAddress}}" ng-model="pickupDropOffAddress"
                                autocomplete-location-obj="autocompleteObjectPass"></ion-google-place>
            </label>
          </div>
        </div>

        <div style="position: absolute; z-index: 3; top: 0; bottom: 0; right: 0; width: 72px; text-align: center; margin-top: 5em;
display: block">
          <img width="30" height="30" src="img/switch_blue.png" ng-click="toggleDirection()">
        </div>
      </div>

      <!-- <button class="button-red" ng-click="getMatrixTimeDistance()">Test Matrix API Call</button> -->
      <!-- <button class="button-red" ng-click="testWavierAction()">Reset waiver sign-offs for this user</button> -->
      <!-- <div>{{liftDirectionFilter}}</div> -->

      <!-- USE FOR ONBOARDING TESTING -->
      <!-- <div class="span7 text-center">
        <button id="facebook-login" class="button button-clear button-red" ng-click="fbLogout()"> Log out</button>
      </div> -->

    </div>

  </ion-header-bar>

<!-- + create lift button -->
  <ion-content class="content-background subheader" style="top: 160px!important">
    <ion-item style="margin-top: .5em; margin-right: 4px; margin-left: 4px; border: solid 1px #09a0c3;"
              ng-click="openOfferLiftModal()">
      <div class="row">
        <div style="text-align: center; width: 50%; margin: 0 auto;">
          <i class="ion-plus-round" style="display: inline; color: #ed6a5b;"></i>

          <h1 style="display: inline; color: #ed6a5b; padding-left: 10px; font-weight: 800;">create a lift</h1>

        </div>
      </div>
    </ion-item>
  </ion-content>
  

  <ion-content class="content-background subheader" style="top: 17.5em !important;">


    <!-- LIFT LIST -->
    <ion-list>
      <ion-item
        ng-repeat="request in main.openRequests | orderBy:sortLiftBy | requestListFilter:dateInput | filter: {destinationLocationId: selectedResort.locationId, liftDirection: liftDirectionFilter} as results"
        class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list row"
        type="item-text-wrap"
        ng-click="goToRequestView(request._id, request.riderId)">

        <div class="drive-item-left">
          <div class="row list-confirmation">
            <div class="col pickup-time">
              {{request.startDepartureTime | timeDateFilterWithPostfix}}
              -{{request.endDepartureTime | timeDateFilterWithPostfix}}
              <!--<div class="item-tag" ng-hide="request.liftDirection == 'fromDestination'">-->
              <!--departure-->
              <!--</div>-->
              <!--<div class="item-tag" ng-show="request.liftDirection == 'fromDestination'">-->
              <!--meet up-->
              <!--</div>-->
            </div>
            <br />

            <div class="col" ng-hide="request.liftDirection == 'fromDestination'">
              <img width="20" height="20" src="img/blue_arrow.png">
            </div>
            <div class="col" ng-show="request.liftDirection == 'fromDestination'">
              <img width="20" height="20" src="img/blue_arrow.png">
            </div>
          </div>
          <div class="row">

            <img ng-hide="request.liftDirection == 'fromDestination'" width="15" height="15" src="img/mountain.png">
            <img ng-show="request.liftDirection == 'fromDestination'" width="15" height="15" src="img/location.png">
            <span style="font-size: 11px;">{{request.endLocation.vicinity}}</span>

            <!--<hr />-->
          </div>


          <div class="row">
            <!-- {{$root.stateService.isConfirmedRiderInThisLift(lift)}} -->
            <button
              ng-hide="$root.stateService.hasOfferBeenSent(request)"
              class="button button-block" style="background-color: white; color: #09a0c3; min-height: 30px !important;">offer
            </button>
            <button ng-show="$root.stateService.hasOfferBeenSent(request)" class="button-dark-blue">
              confirmed
            </button>
          </div>

        </div>

        <div class="list-confirmation drive-item-right row">
          <!-- <img class="item-profile-img" ng-src={{lift|liftPhotoFilter}}> -->
          <div class="col col-30">
            <img class="profile-photo-cover"
                 style="height: 5em; border-radius: 50%"
                 ng-src={{request|requestPhotoFilter}}>
          </div>

          <div class="col">
            <div class="row">
              <div class="list-drivername col">
                {{request.riderName | profileName}}
              </div>

              <div class="col" style="padding-left: .5em;">
                <img width="20" height="20" src="img/blue_thumb.png">
              </div>
            </div>

            <div style="color: #09a0c3; font-size: 14px;">

              {{getLiftDay(request)}}, {{getLiftMonthDay(request)}}
              <!--<div class="row">
                <img width="15" height="15" src="img/blue_friends.png">

                <div class="list-vehicle" style="color: #09a0c3"> 4 mutual friends</div>
              </div>
              <hr>
              <div class="row">
                <img width="15" height="15" src="img/blue_star.png">

                <div class="list-ratings" style="color: #09a0c3"> 3.5/5</div>
              </div>-->
            </div>

          </div>

        </div>
      </ion-item>

      <div ng-show="results.length == 0" id="no-lifts-message">There are no requests available for your given search
        criteria.
      </div>

    </ion-list>

  </ion-content>
</ion-view>
