<ion-view view-title={{navTitle}}>
  <ion-header-bar class="bar bar-subheader" style="padding: 0 !important; ">

    <div class="button-bar buttons-mylift">
      <a class="button" ng-click="showCurrentLifts(); activeButton = 'a'" ng-class="{ 'active': activeButton === 'a'}">Current</a>
      <a class="button" ng-click="showPastLifts(); activeButton = 'b'" ng-class="{'active': activeButton === 'b'}">Past</a>
    </div>
  </ion-header-bar>

  <ion-content class="content-background has-subheader">

    <!-- CURRENT LIFTS TAB-->
    <div ng-hide="displayList == 1">

      <ion-list>

    <!-- ALL REQUESTS (if the user has any) -->
        <button ng-show="main.myCurrentRequests.length > 0" class="button button-block button-light" style="text-align: left;">
          <span style="color: #787a77; font-weight: 900;">Requests</span>
        </button>

        <ion-item
          ng-repeat="request in main.myCurrentRequests | orderBy:sortLiftBy | filter: {isAccepted: false} as results"
          class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list row"
          type="item-text-wrap"
          ng-click="goToRequestDetailFromMyLifts(request._id)">
          <div class="drive-item-left">
        <div class="row list-confirmation">
          <div class="col pickup-time">
            {{request.startDepartureTime | timeDateFilterWithPostfix}}
            -{{request.endDepartureTime | timeDateFilterWithPostfix}}
            <!--<div class="item-tag" ng-hide="request.liftDirection == 'fromDestination'">-->
            <!--departure-->
            <!--</div>-->
            <!--<div class="item-tag" ng-show="request.liftDirection == 'fromDestination'">-->
            <!--meet up-->
            <!--</div>-->
          </div>
          <br />

          <div class="col" ng-hide="request.liftDirection == 'fromDestination'">
            <img width="20" height="20" src="img/blue_arrow.png">
          </div>
          <div class="col" ng-show="request.liftDirection == 'fromDestination'">
            <img width="20" height="20" src="img/blue_arrow.png">
          </div>
        </div>
        <div class="row">

          <img ng-hide="request.liftDirection == 'fromDestination'" width="15" height="15" src="img/mountain.png">
          <img ng-show="request.liftDirection == 'fromDestination'" width="15" height="15" src="img/location.png">
          <span style="font-size: 11px;">{{request.endLocation.vicinity}}</span>

          <!--<hr />-->
        </div>


        <div class="row">
          <!-- {{$root.stateService.isConfirmedRiderInThisLift(lift)}} -->
          <button
            ng-hide="$root.stateService.hasOfferBeenSent(request)"
            class="button button-block" style="background-color: white; color: #09a0c3; min-height: 30px !important;">offer
          </button>
          <button ng-show="$root.stateService.hasOfferBeenSent(request)" class="button-dark-blue">
            confirmed
          </button>
        </div>

      </div>

      <div class="list-confirmation drive-item-right row">
        <!-- <img class="item-profile-img" ng-src={{lift|liftPhotoFilter}}> -->
        <div class="col col-30">
          <img class="profile-photo-cover"
               style="width:100%; height: 4em; max-width: 80px !important"
               ng-src={{request|requestPhotoFilter}}>
        </div>

        <div class="col">
          <div class="row">
            <div class="list-drivername col">
              {{request.riderName | profileName}}
            </div>

            <div class="col" style="padding-left: .5em;">
              <img width="20" height="20" src="img/blue_thumb.png">
            </div>
          </div>

          <div style="color: #09a0c3; font-size: 14px;">

            {{getLiftDay(request)}}, {{getLiftMonthDay(request)}}
            <!--<div class="row">
              <img width="15" height="15" src="img/blue_friends.png">

              <div class="list-vehicle" style="color: #09a0c3"> 4 mutual friends</div>
            </div>
            <hr>
            <div class="row">
              <img width="15" height="15" src="img/blue_star.png">

              <div class="list-ratings" style="color: #09a0c3"> 3.5/5</div>
            </div>-->
          </div>

        </div>

      </div>
    </ion-item>

      <!-- ALL LIFTS (if the user has any) -->
        <button ng-show="main.myCurrentLifts.length > 0" class="button button-block button-light" style="text-align: left;">
         <span style="color: #787a77; font-weight: 900;">Confirmed Lifts</span>
        </button>

        <ion-item
          ng-repeat="lift in main.myCurrentLifts | orderBy:sortLiftBy | filter: {isComplete: false} as results"
          class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list row"
          type="item-text-wrap"
          ng-click="goToLiftDetailFromMyLifts(lift._id, lift.driverId)">
          <div class="row list-confirmation list-item-leftpanel" ng-hide="$root.stateService.isDriverInThisLift(lift)">
            <img class="profile-photo-cover" style="width:5em; height:5em"
                 ng-src={{lift|liftPhotoFilter}}>

            <div style="padding-left: 10px; width: 100%;">
              <div class="row">
                <div>
                  <div class="list-drivername">
                    {{lift.driverName | profileName}}
                  </div>
                  <div class="list-cartype">
                    {{getDriverVehicleInfo(lift.driverId) }}
                  </div>
                </div>
                <div class="list-item-imgdiv">
                  <img width="20" height="20" src="img/lift.png">
                </div>
              </div>
              <div style="padding-top: 15px; color: #ed6a5b; font-size: 14px;">

                {{getLiftDay(lift)}}, {{getLiftMonthDay(lift)}}
                <!-- <div class="row">
                  <img width="15" height="15" src="img/friends.png">
                  <div class = "list-vehicle"> 4 mutual friends</div>
                </div>
                <hr>
                <div class="row">
                  <img width="15" height="15" src="img/stars.png">
                  <div class = "list-ratings"> 3.5/5</div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="list-confirmation list-item-rightpanel" ng-hide="$root.stateService.isDriverInThisLift(lift)">
            <div class="row">
              <div class="col pickup-time">
                {{lift.departureTime | timeDateFilterWithPostfix}}
                <div class="item-tag" ng-hide="lift.liftDirection == 'fromDestination'">
                  departure
                </div>
                <div class="item-tag" ng-show="lift.liftDirection == 'fromDestination'">
                  meet up
                </div>
              </div>
              <div class="list-item-imgdiv" ng-hide="lift.liftDirection == 'fromDestination'">
                <img width="20" height="20" src="img/toDestinationArrow.png">
              </div>
              <div class="list-item-imgdiv" ng-show="lift.liftDirection == 'fromDestination'">
                <img width="20" height="20" src="img/fromDestinationArrow.png">
              </div>
            </div>
            <div class="row destination">
              <img ng-hide="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/mountain.png">
              <img ng-show="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/location.png">
              <span style="font-size: 11px; white-space: normal;">{{lift.endLocation.vicinity}}</span>
            </div>
            <div class="row">
              <span style="font-size: 10px;">{{getSeatsAvailable(lift)}} seats open</span>
            </div>
            <div>
              <button class="button button-block button-red status-button">confirmed</button>
              <!-- <button ng-show="getConfirmationStatus(lift)==='pending'" class="button button-block button-outline button-assertive status-button ng-hide">request</button>
              <button ng-show="false" class="button button-block button-assertive status-button ng-hide">full</button> -->
            </div>
          </div>
          <!-- //////////////////////// -->
          <!-- WHERE USER IS THE DRIVER -->
          <!-- //////////////////////// -->
          <div class="row list-confirmation list-item-leftpanel" ng-show="$root.stateService.isDriverInThisLift(lift)">
            <!-- This is the smaller photo... -->
            <!-- <img class="profile-photo-cover" width="40" height="40"
                 ng-src={{lift|liftPhotoFilter}}> -->
           <img class="profile-photo-cover" style="width:5em; height:5em"
                ng-src={{lift|liftPhotoFilter}}>


            <div style="padding-left: 10px; width: 100%;">
              <div class="row">
                <div>
                  <div class="list-drivername">
                    You're driving!
                  </div>
                  <div class="list-cartype">
                    {{getDriverVehicleInfo(lift.driverId) }}
                  </div>
                </div>
                <div class="list-item-imgdiv">
                  <img width="20" height="20" src="img/lift.png">
                </div>
              </div>
              <div style="padding-top: 15px; color: #ed6a5b; font-size: 14px;">

                {{getLiftDay(lift)}}, {{getLiftMonthDay(lift)}}
                <!-- <div class="row">
                  <img width="15" height="15" src="img/friends.png">
                  <div class = "list-vehicle"> 4 mutual friends</div>
                </div>
                <hr>
                <div class="row">
                  <img width="15" height="15" src="img/stars.png">
                  <div class = "list-ratings"> 3.5/5</div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="list-confirmation list-item-rightpanel" ng-show="$root.stateService.isDriverInThisLift(lift)">
            <div class="row">
              <div class="col pickup-time">
                {{lift.departureTime | timeDateFilterWithPostfix}}
                <div class="item-tag" ng-hide="lift.liftDirection == 'fromDestination'">
                  departure
                </div>
                <div class="item-tag" ng-show="lift.liftDirection == 'fromDestination'">
                  meet up
                </div>
              </div>
              <div class="list-item-imgdiv" ng-hide="lift.liftDirection == 'fromDestination'">
                <img width="20" height="20" src="img/toDestinationArrow.png">
              </div>
              <div class="list-item-imgdiv" ng-show="lift.liftDirection == 'fromDestination'">
                <img width="20" height="20" src="img/fromDestinationArrow.png">
              </div>
            </div>
            <div class="destination">
              <img ng-hide="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/mountain.png">
              <img ng-show="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/location.png">
              <span style="font-size: 11px; white-space: normal;">{{lift.endLocation.vicinity}}</span>
            </div>
            <div class="row" style="display: block">
              <span style="font-size: 10px;">{{getSeatsAvailable(lift)}} seats open</span>
              <div style="display: block; padding-top: 5px;">
                <i style="color: #ed6a5b;" ng-show="seat1==true" id="space-1" class="ion-record"></i>
                <i style="color: #ed6a5b;" ng-show="seat2==true" id="space-2" class="ion-record"></i>
                <i style="color: #ed6a5b;" ng-show="seat3==true" id="space-3" class="ion-record"></i>
                <i style="color: #ed6a5b;" ng-show="seat4==true" id="space-4" class="ion-record"></i>
              </div>
            </div>
            <div>
              <button ng-show="$root.stateService.isConfirmedRiderInThisLift(lift)"
                      class="button button-block button-red status-button">confirmed
              </button>
            </div>
          </div>
        </ion-item>

      </ion-list>
    </div>

    <!-- PAST LIFTS TAB-->
    <div ng-show="displayList == 1">
      <!-- <button class="button button-block button-light" style="text-align: left;">
        <span style="color: #787a77; font-weight: 900;">Yesterday - Dummy Text</span>
      </button> -->
      <ion-list>
        <ion-item
          ng-repeat="lift in main.myPastLifts | orderBy:sortLiftBy | filter: {} as results"
          class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list row"
          type="item-text-wrap"
          ng-click="goToLiftDetailFromMyLifts(lift._id, lift.driverId)">
          <div class="row list-confirmation list-item-leftpanel" ng-hide="$root.stateService.isDriverInThisLift(lift)">
            <img class="profile-photo-cover" style="width:100%; height:5em; max-width: 80px !important;"
                 ng-src={{lift|liftPhotoFilter}}>

            <div style="padding-left: 10px; width: 100%;">
              <div class="row">
                <div>
                  <div class="list-drivername">
                    {{lift.driverName | profileName}}
                  </div>
                  <div class="list-cartype">
                    {{getDriverVehicleInfo(lift.driverId) }}
                  </div>
                </div>
                <div class="list-item-imgdiv">
                  <img width="20" height="20" src="img/lift.png">
                </div>
              </div>
              <div style="padding-top: 15px; color: #ed6a5b; font-size: 12px;">

                {{getLiftDay(lift)}}, {{getLiftMonthDay(lift)}}
                <!-- <div class="row">
                  <img width="15" height="15" src="img/friends.png">
                  <div class = "list-vehicle"> 4 mutual friends</div>
                </div>
                <hr>
                <div class="row">
                  <img width="15" height="15" src="img/stars.png">
                  <div class = "list-ratings"> 3.5/5</div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="list-confirmation list-item-rightpanel" ng-hide="$root.stateService.isDriverInThisLift(lift)">
            <div class="row">
              <div class="col pickup-time">
                {{lift.departureTime | timeDateFilterWithPostfix}}
                <div class="item-tag" ng-hide="lift.liftDirection == 'fromDestination'">
                  departure
                </div>
                <div class="item-tag" ng-show="lift.liftDirection == 'fromDestination'">
                  meet up
                </div>
              </div>
              <div class="list-item-imgdiv" ng-hide="lift.liftDirection == 'fromDestination'">
                <img width="20" height="20" src="img/toDestinationArrow.png">
              </div>
              <div class="list-item-imgdiv" ng-show="lift.liftDirection == 'fromDestination'">
                <img width="20" height="20" src="img/fromDestinationArrow.png">
              </div>
            </div>
            <div class="row destination">
              <img ng-hide="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/mountain.png">
              <img ng-show="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/location.png">
              <span style="font-size: 11px; white-space: normal;">{{lift.endLocation.vicinity}}</span>
            </div>
            <div class="row">
              <span style="font-size: 10px;">{{getSeatsAvailable(lift)}} seats open</span>
            </div>
            <div>
              <button class="button button-block button-red status-button">confirmed</button>
              <!-- <button ng-show="getConfirmationStatus(lift)==='pending'" class="button button-block button-outline button-assertive status-button ng-hide">request</button>
              <button ng-show="false" class="button button-block button-assertive status-button ng-hide">full</button> -->
            </div>
          </div>
          <!-- //////////////////////// -->
          <!-- WHERE USER IS THE DRIVER -->
          <!-- //////////////////////// -->
          <div class="row list-confirmation list-item-leftpanel" ng-show="$root.stateService.isDriverInThisLift(lift)">

            <!-- <img class="profile-photo-cover" width="40" height="40"
                 ng-src={{lift|liftPhotoFilter}}> -->
           <img class="profile-photo-cover" style="width:5em; height:5em"
                ng-src={{lift|liftPhotoFilter}}>


            <div style="padding-left: 10px; width: 100%;">
              <div class="row">
                <div>
                  <div class="list-drivername">
                    You're driving!
                  </div>
                  <div class="list-cartype">
                    {{getDriverVehicleInfo(lift.driverId) }}
                  </div>
                </div>
                <div class="list-item-imgdiv">
                  <img width="20" height="20" src="img/lift.png">
                </div>
              </div>
              <div style="padding-top: 15px; color: #ed6a5b; font-size: 12px;">

                {{getLiftDay(lift)}}, {{getLiftMonthDay(lift)}}
                <!-- <div class="row">
                  <img width="15" height="15" src="img/friends.png">
                  <div class = "list-vehicle"> 4 mutual friends</div>
                </div>
                <hr>
                <div class="row">
                  <img width="15" height="15" src="img/stars.png">
                  <div class = "list-ratings"> 3.5/5</div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="list-confirmation list-item-rightpanel" ng-show="$root.stateService.isDriverInThisLift(lift)">
            <div class="row">
              <div class="col pickup-time">
                {{lift.departureTime | timeDateFilterWithPostfix}}
                <div class="item-tag" ng-hide="lift.liftDirection == 'fromDestination'">
                  departure
                </div>
                <div class="item-tag" ng-show="lift.liftDirection == 'fromDestination'">
                  meet up
                </div>
              </div>
              <div class="list-item-imgdiv" ng-hide="lift.liftDirection == 'fromDestination'">
                <img width="20" height="20" src="img/toDestinationArrow.png">
              </div>
              <div class="list-item-imgdiv" ng-show="lift.liftDirection == 'fromDestination'">
                <img width="20" height="20" src="img/fromDestinationArrow.png">
              </div>
            </div>
            <!-- <div class = "row" > -->
            <div class="destination">
              <img ng-hide="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/mountain.png">
              <img ng-show="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/location.png">
              <span style="font-size: 11px;">{{lift.endLocation.vicinity}}</span>
            </div>
            <!-- </div> -->
            <div class="row">
              <span style="font-size: 10px; white-space: normal;">{{getSeatsAvailable(lift)}} seats open</span>
            </div>
            <div>
              <button ng-show="$root.stateService.isConfirmedRiderInThisLift(lift)"
                      class="button button-block button-red status-button">confirmed
              </button>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
