<!--<ul mfb-menu active-icon="ion-plus-round" resting-icon="ion-plus-round" main-action="openOfferLiftModal()" position="br"></ul>-->
<ion-view view-title={{navTitle}} hide-back-button=true>
  <ion-header-bar class="bar bar-subheader" style="padding: 0 !important; ">

    <div class="filter-bar"> <!--isInActiveLift == false && -->
      <!--Removed that for now. State machine under review -->

      <!-- <div class="search-bar" ng-controller="MapController">
        <div class="bar bar-header item-input-inset" id="locationField">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-location-outline placeholder-icon"></i>
            <ion-google-place placeholder="Enter Pickup Location" autocomplete-location-obj="autocompleteObjectPass"></ion-google-place>
          </label>
        </div>
      </div> -->

      <!--<div class="list direction-toggle">-->
      <!--<div class="item item-input">-->

      <!--<div class="row">-->

      <!--<div class="col">-->
      <!--&lt;!&ndash; <img width="20" height="20" src="img/toDestinationArrow.png"> &ndash;&gt;-->
      <!--</div>-->


      <!--<div class="col">-->
      <!--&lt;!&ndash;<img width="30" height="30" src="img/change.png" ng-click="toggleDirection()">&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="col">-->
      <!--&lt;!&ndash; <img width="20" height="20" src="img/fromDestinationArrow.png"> &ndash;&gt;-->
      <!--</div>-->

      <!--</div>-->

      <!--</div>-->
      <!--</div>-->


      <!-- SEARCH BAR -->

      <!-- An alert bar - for now just displays an error message if not connected to the internet -->
      <div ng-show="getConnectionStatus() != 'connected'" class="alert-bar-error">
        <p>Connection Error: {{getConnectionStatus()}}</p>
      </div>


      <div class="list" style="margin-bottom: 0px !important;">
        <label class="item item-input" style="float: right; width: 100%; display: block; padding-right: 1em;">
          <!--<div class="filter-display-text"><i class="filter-icon ion-android-calendar"></i></div>-->

          <div class="date-selection">
            <ion-datetime-picker date am-pm ng-model="dateInput">
              <label>
                <div class="filter-display-text-right">
                  lifts offered
                  <!-- <span id="date-selection-day" class="date-borderline">{{dateInput| date: "EEEE, MMMM dd"}}</span> -->
                  <span ng-hide="dateInput === null" id="date-selection-day"
                        class="date-borderline">{{dateInput| date: "EEEE, MMMM dd"}}</span>
                  <span ng-show="dateInput === null" id="date-selection-day" class="date-borderline">any day</span>
                </div>
              </label>
            </ion-datetime-picker>
          </div>

        </label>
      </div>


      <div class="list destination-selection" ng-hide="liftDirectionFilter == 'fromDestination'">
        <div class="item item-input">
          <img width="20" height="20" src="img/location.png"><br>
          <label class="item-input-wrapper">
            <ion-google-place placeholder="{{$root.currentUser.profile.settings.defaultPickupLocation.fullAddress}}" ng-model="pickupDropOffAddress"
                              autocomplete-location-obj="autocompleteObjectPass"></ion-google-place>
          </label>
        </div>
      </div>

      <div>

        <div class="list destination-selection">
          <div class="item item-input" style="padding-top: 0; padding-bottom: 0;">
            <!-- <div class="filter-display-text"><i class="filter-icon ion-map"></i></div> -->
            <img width="20" height="20" src="img/mountain.png"><br>

            <div ng-show="hasSelectedResort()" class="button button-clear" ng-click="openSelectDestinationModal()">
              {{selectedResort.destinationName}}
            </div>
            <div ng-show="!hasSelectedResort()" class="button button-clear" ng-click="openSelectDestinationModal()">
              any mountain
            </div>
          </div>
        </div>

        <div class="list destination-selection" ng-show="liftDirectionFilter == 'fromDestination'">
          <div class="item item-input" style="padding-top: .5em;">
            <img width="20" height="20" src="img/location.png"><br>
            <label class="item-input-wrapper">
              <ion-google-place placeholder="{{$root.currentUser.profile.settings.defaultPickupLocation.fullAddress}}" ng-model="pickupDropOffAddress"
                                autocomplete-location-obj="autocompleteObjectPass"></ion-google-place>
            </label>
          </div>
        </div>

        <div style="position: absolute; z-index: 3; top: 0; bottom: 0; right: 0; width: 72px; text-align: center; margin-top: 5em;
display: block">
          <img width="30" height="30" src="img/change.png" ng-click="toggleDirection()">
        </div>
      </div>


      <!-- <button class="button-red" ng-click="getMatrixTimeDistance()">Test Matrix API Call</button> -->
      <!-- <button class="button-red" ng-click="testWavierAction()">Reset waiver sign-offs for this user</button> -->
      <!-- <div>{{liftDirectionFilter}}</div> -->

      <!-- USE FOR ONBOARDING TESTING -->
      <!-- <div class="span7 text-center">
        <button id="facebook-login" class="button button-clear button-red" ng-click="fbLogout()"> Log out</button>
      </div> -->

    </div>
  </ion-header-bar>

  <ion-content class="content-background subheader" style="top: 160px!important">

    <ion-item style="margin-top: .5em; margin-right: 4px; margin-left: 4px; border: solid 1px #09a0c3;"
              ng-click="openCreateRequestModal()">
      <div class="row">
        <div style="text-align: center; width: 50%; margin: 0 auto;">
          <i class="ion-plus-round" style="display: inline; color: #09a0c3;"></i>

          <h1 style="display: inline; color: #09a0c3; padding-left: 10px; font-weight: 800;">create request</h1>

        </div>
      </div>
    </ion-item>

  </ion-content>


  <ion-content class="content-background subheader" style="top: 17.5em !important;">

    <!-- LIFT LIST -->
    <ion-list>
      <ion-item
        ng-repeat="lift in main.openLifts | orderBy:sortLiftBy | liftListFilter:dateInput | filter: {destinationLocationId: selectedResort.locationId, liftDirection: liftDirectionFilter} as results"
        class="item-chat item-remove-animate item-avatar item-icon-right item-thumbnail-left item lift-list row"
        type="item-text-wrap"
        ng-click="goToDetailView(lift._id, lift.driverId)">

        <div class="row list-confirmation list-item-leftpanel">
          <!-- <img class="item-profile-img" ng-src={{lift|liftPhotoFilter}}> -->
          <img class="profile-photo-cover" ng-src={{lift|liftPhotoFilter}}>

          <div style="width: 100%;">
            <div class="row">
              <div style="padding-left: .1em;">
                <div class="list-drivername">
                  {{lift.driverName | profileName}}
                </div>
                <div class="list-cartype">
                  {{getDriverVehicleInfo(lift.driverId) }}
                </div>
              </div>

              <div class="list-item-imgdiv" style="text-align: none;">
                <img width="20" height="20" src="img/lift.png">
              </div>
            </div>

            <div style="padding-top: 4em; color: #ed6a5b; font-size: 14px;">
              <!--<div class="row">
                <img width="15" height="15" src="img/friends.png">

                <div class="list-vehicle"> 4 mutual friends</div>
              </div>
              <hr>
              <div class="row">
                <img width="15" height="15" src="img/stars.png">

                <div class="list-ratings"> 3.5/5</div>
              </div>-->

              {{getLiftDay(lift)}}, {{getLiftMonthDay(lift)}}

            </div>
          </div>

        </div>

        <div class="list-confirmation list-item-rightpanel">
          <div class="row">
            <div class="col pickup-time">
              {{lift.departureTime | timeDateFilterWithPostfix}}
              <div class="item-tag" ng-hide="lift.liftDirection == 'fromDestination'">
                departure
              </div>
              <div class="item-tag" ng-show="lift.liftDirection == 'fromDestination'">
                meet up
              </div>
            </div>
            <div class="list-item-imgdiv" ng-hide="lift.liftDirection == 'fromDestination'">
              <img width="20" height="20" src="img/toDestinationArrow.png">
            </div>
            <div class="list-item-imgdiv" ng-show="lift.liftDirection == 'fromDestination'">
              <img width="20" height="20" src="img/fromDestinationArrow.png">
            </div>
          </div>

          <div class="row destination" style="padding-top: .5em; padding-bottom: .5em;">
            <img ng-hide="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/mountain.png">
            <img ng-show="lift.liftDirection == 'fromDestination'" width="15" height="15" src="img/location.png">
            <span style="font-size: 11px;">{{lift.endLocation.vicinity}}</span>
          </div>

          <div class="row" style="display: block">
            <span style="font-size: 10px;">{{getSeatsAvailable(lift)}} Available Seats</span>

            <div style="display: block; padding-top: 5px;">
              <i style="color: #ed6a5b;" ng-show="seat1==true" id="space-1" class="ion-record"></i>
              <i style="color: #ed6a5b;" ng-show="seat2==true" id="space-2" class="ion-record"></i>
              <i style="color: #ed6a5b;" ng-show="seat3==true" id="space-3" class="ion-record"></i>
              <i style="color: #ed6a5b;" ng-show="seat4==true" id="space-4" class="ion-record"></i>
            </div>
          </div>


          <div style="margin-bottom: -1em; margin-top: 1.5em;">
            <!-- {{$root.stateService.isConfirmedRiderInThisLift(lift)}} -->
            <!-- <button
              ng-hide="$root.stateService.isConfirmedRiderInThisLift(lift) || $root.stateService.isPotentialRiderInThisLift(lift)"
              class="button button-block button-outline button-red status-button request-button">request
            </button> -->
            <div ng-show="$root.stateService.isPotentialRiderInThisLift(lift)" class="button button-block button-assertive status-button full-button">request sent
            </div>
            <button ng-show="$root.stateService.isConfirmedRiderInThisLift(lift)"
                    class="button button-block button-red status-button confirm-button">confirmed
            </button>
            <button ng-show="lift.confirmedRiders.length >= lift.seats"
                    class="button button-block button-assertive status-button full-button">full
            </button>
          </div>

        </div>
      </ion-item>

      <div ng-show="results.length == 0" id="no-lifts-message">There are no lifts available for your given search
        criteria.
      </div>

    </ion-list>

  </ion-content>
</ion-view>
